# Part 1 - Data Cleaning

In [1]:
# import libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup as bs
import json
import requests
%matplotlib inline
import warnings
warnings.filterwarnings(action='ignore', message='not allowed')

<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
# import data
housing_df=pd.read_csv("../datasets/train.csv",low_memory=False)
housing_df.head()

,id,Tranc_YearMonth,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,...,vacancy,pri_sch_affiliation,pri_sch_latitude,pri_sch_longitude,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,sec_sch_latitude,sec_sch_longitude
0,88471,2016-05,KALLANG/WHAMPOA,4 ROOM,3B,UPP BOON KENG RD,10 TO 12,90.0,Model A,2006,...,78,1,1.317659,103.882504,1138.633422,Geylang Methodist School,224,0,1.317659,103.882504
1,122598,2012-07,BISHAN,5 ROOM,153,BISHAN ST 13,07 TO 09,130.0,Improved,1987,...,45,1,1.349783,103.854529,447.894399,Kuo Chuan Presbyterian Secondary School,232,0,1.350110,103.854892
2,170897,2013-07,BUKIT BATOK,EXECUTIVE,289B,BT BATOK ST 25,13 TO 15,144.0,Apartment,1997,...,39,0,1.345245,103.756265,180.074558,Yusof Ishak Secondary School,188,0,1.342334,103.760013
3,86070,2012-04,BISHAN,4 ROOM,232,BISHAN ST 22,01 TO 05,103.0,Model A,1992,...,20,1,1.354789,103.844934,389.515528,Catholic High School,253,1,1.354789,103.844934
4,153632,2017-12,YISHUN,4 ROOM,876,YISHUN ST 81,01 TO 03,83.0,Simplified,1987,...,74,0,1.416280,103.838798,312.025435,Orchid Park Secondary School,208,0,1.414888,103.838335

We observe column 42 (postal) has mixed data types. Here we standardise the datatype in this column by setting as string.

In [3]:
housing_df.columns[41]

'postal'

In [4]:
# convert postal to string
housing_df['postal']=housing_df['postal'].map(lambda x: str(x))

In [5]:
housing_df.shape

(150634, 77)

In [6]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150634 entries, 0 to 150633
Data columns (total 77 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         150634 non-null  int64
 1   Tranc_YearMonth            150634 non-null  object
 2   town                       150634 non-null  object
 3   flat_type                  150634 non-null  object
 4   block                      150634 non-null  object
 5   street_name                150634 non-null  object
 6   storey_range               150634 non-null  object
 7   floor_area_sqm             150634 non-null  float64
 8   flat_model                 150634 non-null  object
 9   lease_commence_date        150634 non-null  int64
 10  resale_price               150634 non-null  float64
 11  Tranc_Year                 150634 non-null  int64
 12  Tranc_Month                150634 non-null  int64
 13  mid_storey                 150634 non-null  int64
 14  lower                      150634 non-null  int64
 15  upper                      150634 non-null  int64
 16  mid                        150634 non-null  int64
 17  full_flat_type             150634 non-null  object
 18  address                    150634 non-null  object
 19  floor_area_sqft            150634 non-null  float64
 20  hdb_age                    150634 non-null  int64
 21  max_floor_lvl              150634 non-null  int64
 22  year_completed             150634 non-null  int64
 23  residential                150634 non-null  object
 24  commercial                 150634 non-null  object
 25  market_hawker              150634 non-null  object
 26  multistorey_carpark        150634 non-null  object
 27  precinct_pavilion          150634 non-null  object
 28  total_dwelling_units       150634 non-null  int64
 29  1room_sold                 150634 non-null  int64
 30  2room_sold                 150634 non-null  int64
 31  3room_sold                 150634 non-null  int64
 32  4room_sold                 150634 non-null  int64
 33  5room_sold                 150634 non-null  int64
 34  exec_sold                  150634 non-null  int64
 35  multigen_sold              150634 non-null  int64
 36  studio_apartment_sold      150634 non-null  int64
 37  1room_rental               150634 non-null  int64
 38  2room_rental               150634 non-null  int64
 39  3room_rental               150634 non-null  int64
 40  other_room_rental          150634 non-null  int64
 41  postal                     150634 non-null  object
 42  Latitude                   150634 non-null  float64
 43  Longitude                  150634 non-null  float64
 44  planning_area              150634 non-null  object
 45  Mall_Nearest_Distance      149805 non-null  float64
 46  Mall_Within_500m           57845 non-null   float64
 47  Mall_Within_1km            125208 non-null  float64
 48  Mall_Within_2km            148694 non-null  float64
 49  Hawker_Nearest_Distance    150634 non-null  float64
 50  Hawker_Within_500m         53244 non-null   float64
 51  Hawker_Within_1km          89766 non-null   float64
 52  Hawker_Within_2km          121432 non-null  float64
 53  hawker_food_stalls         150634 non-null  int64
 54  hawker_market_stalls       150634 non-null  int64
 55  mrt_nearest_distance       150634 non-null  float64
 56  mrt_name                   150634 non-null  object
 57  bus_interchange            150634 non-null  int64
 58  mrt_interchange            150634 non-null  int64
 59  mrt_latitude               150634 non-null  float64
 60  mrt_longitude              150634 non-null  float64
 61  bus_stop_nearest_distance  150634 non-null  float64
 62  bus_stop_name              150634 non-null  object
 63  bus_stop_latitude          150634 non-null  float64
 64  bus_stop_longitude         150634 non-null  float64
 65  pri_sch_nearest_distance   150634 non-null  float64
 66  pri_sch_name               150634 non-null  object
 67  vacancy                    150634 non-null  int64
 68  pri_sch_affiliation        150634 non-null  int64
 69  pri_sch_latitude           150634 non-null  float64
 70  pri_sch_longitude          150634 non-null  float64
 71  sec_sch_nearest_dist       150634 non-null  float64
 72  sec_sch_name               150634 non-null  object
 73  cutoff_point               150634 non-null  int64
 74  affiliation                150634 non-null  int64
 75  sec_sch_latitude           150634 non-null  float64
 76  sec_sch_longitude          150634 non-null  float64
dtypes: float64(25), int64(32), object(20)
memory usage: 88.5+ MB

In [7]:
#rename all columns using lower caps
housing_df.columns=housing_df.columns.str.strip().str.lower()

In [8]:
# rename to sec sch afiliation

housing_df.rename(columns={'affiliation':'sec_sch_affiliation'},inplace=True)

In [9]:
# check for nulls in each column
housing_df[housing_df.columns[housing_df.isnull().any()]].isnull().sum()

mall_nearest_distance      829
mall_within_500m         92789
mall_within_1km          25426
mall_within_2km           1940
hawker_within_500m       97390
hawker_within_1km        60868
hawker_within_2km        29202
dtype: int64

Out of all 76 columns in dataset, we have 7 columns containing nulls as shown above.

### Accounting for null values in hawker quantity columns

As there are no missing values for hawker nearest distance, a possibility might be that the hawker nearest distance in specific rows has exceeded 500m/1km/2km, hence resulting in hawker null values. This can be easily validated by finding the minimum distance for specific rows containing nulls, as shown below.

In [10]:
#check if there is any discrepancy in minimum distance larger than 500m/1km/2km for rows with missing hawker quantity

print(f"Minimium distance greater than 500m: \
{round(housing_df[housing_df['hawker_within_500m'].isnull()]['hawker_nearest_distance'].min(),3)}m")

print(f"Minimium distance greater than 1km: \
{round(housing_df[housing_df['hawker_within_1km'].isnull()]['hawker_nearest_distance'].min(),3)}m")

print(f"Minimium distance greater than 2km: \
{round(housing_df[housing_df['hawker_within_2km'].isnull()]['hawker_nearest_distance'].min(),3)}m")

Minimium distance greater than 500m: 500.209m
Minimium distance greater than 1km: 1000.074m
Minimium distance greater than 2km: 2000.872m

For the rows with missing hawker value, we see that the available minimum distance greater than 500m, 1km and 2km is 500.209m, 1000.074m and 2000.872m respectively. This implies that the nulls in each of these 3 columns can be set to 0, since the minimum distance present is larger than the specified distance.

In [11]:
# replace all missing hawker value to 0
housing_df.loc[housing_df['hawker_within_500m'].isnull(),'hawker_within_500m']=0
housing_df.loc[housing_df['hawker_within_1km'].isnull(),'hawker_within_1km']=0
housing_df.loc[housing_df['hawker_within_2km'].isnull(),'hawker_within_2km']=0

### Accounting for null values in mall quantity columns

As we have 829 rows with missing mall nearest distance, firstly we need to address the nulls in this column before filling in the missing mall quantity values. The procedure to find the nearest mall distance in these rows is shown below.

1. Retrieve all malls in Singapore, this can be done by webscraping from Wikipedia.
2. Use OneMap API to locate the latitude/longitude of the malls.
3. For each housing unit, calculate distance between itself and each mall using Haversine formula. Locate the minimum mall distance and replace the null value.

An important point to note is that the rows with missing mall distance are identified through their row index in the dataset.

In [12]:
# Retrieve all malls in Singapore from Wikipedia
url='https://en.wikipedia.org/wiki/List_of_shopping_malls_in_Singapore'
response = requests.get(url)
print('Status Code: ',response.status_code)
html = response.content
soup = bs(html, 'lxml')
soup

malls = soup.find_all("div",{'class':'div-col'})
list_of_malls=[]
for i in range(len(malls)):
    list_of_malls+=[x.text for x in malls[i].find_all("li")]
list_of_malls=[x[:x.find("[")] if x.find("[")!=-1 else x for x in list_of_malls]
list_of_malls

Status Code:  200

['100 AM',
 '313@Somerset',
 'Aperia',
 'Balestier Hill Shopping Centre',
 'Bugis Cube',
 'Bugis Junction',
 'Bugis+',
 'Capitol Piazza',
 'Cathay Cineleisure Orchard',
 'Clarke Quay Central',
 'The Centrepoint',
 'City Square Mall',
 'City Gate Mall',
 'CityLink Mall',
 'Duo',
 'Far East Plaza',
 'Funan',
 'Great World City',
 'HDB Hub',
 'Holland Village Shopping Mall',
 'ION Orchard',
 'Junction 8',
 'Knightsbridge',
 'Liat Towers',
 'Lucky Plaza',
 'Marina Bay Sands',
 'The Shoppes at Marina Bay Sands',
 'Marina Bay Link Mall',
 'Marina Square',
 'Millenia Walk',
 'Mustafa Shopping Centre',
 'Ngee Ann City',
 'Orchard Central',
 'Orchard Gateway',
 'Orchard Plaza',
 'Midpoint Orchard',
 'Palais Renaissance',
 "People's Park Centre",
 "People's Park Complex",
 'Plaza Singapura',
 'PoMo',
 'Raffles City',
 'Scotts Square',
 'Shaw House and Centre',
 'Sim Lim Square',
 'Singapore Shopping Centre',
 'The South Beach',
 'Square 2',
 'Sunshine Plaza',
 'Suntec City',
 'Tanglin Mall',
 'Tanjong Pagar Centre',
 'Tekka Centre',
 'The Adelphi',
 'The Paragon',
 'Tiong Bahru Plaza',
 'The Poiz',
 'Thomson Plaza',
 'United Square',
 'Thomson V',
 'Velocity@Novena Square',
 'Wheelock Place',
 'Wisma Atria',
 'Zhongshan Mall',
 'Bedok Mall',
 'Century Square',
 'Changi City Point',
 'Downtown East',
 'Djitsun Mall Bedok',
 'Eastpoint Mall',
 'Jewel Changi Airport',
 'KINEX (formerly OneKM)',
 'Katong Shopping Centre',
 'Katong Square',
 'Kallang Wave Mall',
 'Leisure Park Kallang',
 'i12 Katong',
 'Our Tampines Hub',
 'Parkway Parade',
 'Paya Lebar Square',
 'Paya Lebar Quarter (PLQ)',
 'Roxy Square',
 'Singpost Centre',
 'Tampines 1',
 'Tampines Mall',
 'White Sands',
 'City Plaza',
 'Elias Mall',
 'Loyang Point',
 '888 Plaza',
 'Admiralty Place',
 'AMK Hub',
 'Canberra Plaza',
 'Causeway Point',
 'Woodlands Civic Centre',
 'Broadway Plaza',
 'Jubilee Square',
 'Junction 8',
 'Junction Nine',
 'Marsiling Mall',
 'Northpoint City',
 'Sembawang Shopping Centre',
 'Sun Plaza',
 'Vista Point',
 'Wisteria Mall',
 'Woodlands Mart',
 'Woodlands North Plaza',
 'Buangkok Square',
 'Compass One',
 'Greenwich V',
 'Heartland Mall',
 'Hougang 1',
 'Hougang Green Shopping Mall',
 'Hougang Mall',
 'NEX',
 'Northshore Plaza',
 'Oasis Terraces',
 'Punggol Plaza',
 'Rivervale Mall',
 'Rivervale Plaza',
 'Sengkang Grand Mall',
 'The Seletar Mall',
 'Upper Serangoon Shopping Centre',
 'Waterway Point',
 'myVillage At Serangoon Garden',
 'Beauty World Centre',
 'Beauty World Plaza',
 'Bukit Panjang Plaza',
 'Bukit Timah Plaza',
 'Fajar Shopping Centre',
 'Greenridge Shopping Centre',
 'Hillion Mall',
 'HillV2',
 'Junction 10',
 'Keat Hong Shopping Centre',
 'Limbang Shopping Centre',
 'Lot One',
 'Rail Mall',
 'Sunshine Place',
 'Teck Whye Shopping Centre',
 'West Mall',
 'Yew Tee Point',
 'Yew Tee Square',
 '321 Clementi',
 'The Clementi Mall',
 'IMM',
 'JCube',
 'Jem',
 'Westgate',
 'Jurong Point',
 'Pioneer Mall',
 'The Star Vista',
 'Alexandra Central',
 'Anchorpoint',
 'OD Mall',
 'Boon Lay Shopping Centre',
 'Grantral Mall',
 'Fairprice Hub',
 'Gek Poh Shopping Centre',
 'Rochester Mall',
 'Taman Jurong Shopping Centre',
 'West Coast Plaza',
 'Queensway Shopping Centre']

In [13]:
# Obtaining Mall Coordinates in Singapore from OneMAP API
list_of_malls
mall_name = []
mall_lat = []
mall_long = []

for i in range(0, len(list_of_malls)):
    query_address = list_of_malls[i]
    query_string = 'https://developers.onemap.sg/commonapi/search?searchVal='+str(query_address)+'&returnGeom=Y&getAddrDetails=Y'
    resp = requests.get(query_string)
    data_mall=json.loads(resp.content)
    
    if data_mall['found'] != 0:
        mall_name.append(query_address)
        mall_lat.append(float(data_mall["results"][0]["LATITUDE"]))
        mall_long.append(float(data_mall["results"][0]["LONGITUDE"]))

        print (str(query_address)+", Latitude: "+data_mall['results'][0]['LATITUDE'] +" Longitude: "+data_mall['results'][0]['LONGITUDE'])

    else:
        print (f"No result for {list_of_malls[i]}")

100 AM, Latitude: 1.27458821795426 Longitude: 103.84347073661
313@Somerset, Latitude: 1.30100656917241 Longitude: 103.838246592796
Aperia, Latitude: 1.3104736675734 Longitude: 103.86431321816
Balestier Hill Shopping Centre, Latitude: 1.32559594839311 Longitude: 103.842571612968
Bugis Cube, Latitude: 1.2981408343975 Longitude: 103.855635339249
Bugis Junction, Latitude: 1.2991371723215 Longitude: 103.855450325604
Bugis+, Latitude: 1.30095171530648 Longitude: 103.855172625542
Capitol Piazza, Latitude: 1.29307884763132 Longitude: 103.851261982149
Cathay Cineleisure Orchard, Latitude: 1.30149264852924 Longitude: 103.836406753067
No result for Clarke Quay Central
The Centrepoint, Latitude: 1.30145045537088 Longitude: 103.840034074858
City Square Mall, Latitude: 1.31142103107683 Longitude: 103.856624019991
No result for City Gate Mall
CityLink Mall, Latitude: 1.2927777312893 Longitude: 103.854173501417
Duo, Latitude: 1.29953434891664 Longitude: 103.85840168774
Far East Plaza, Latitude: 1.30722100162543 Longitude: 103.833805646681
Funan, Latitude: 1.29134759697794 Longitude: 103.849989790085
Great World City, Latitude: 1.2934759620704 Longitude: 103.831975865363
HDB Hub, Latitude: 1.33201387005935 Longitude: 103.84984949662
No result for Holland Village Shopping Mall
ION Orchard, Latitude: 1.30399286856099 Longitude: 103.831988903795
Junction 8, Latitude: 1.3501820033849 Longitude: 103.848515664081
Knightsbridge, Latitude: 1.3029831225958 Longitude: 103.836283923443
Liat Towers, Latitude: 1.30508722710852 Longitude: 103.830722581168
Lucky Plaza, Latitude: 1.3044637897474 Longitude: 103.834005158524
Marina Bay Sands, Latitude: 1.28466203613219 Longitude: 103.861005919301
The Shoppes at Marina Bay Sands, Latitude: 1.28423496027027 Longitude: 103.85898228297
Marina Bay Link Mall, Latitude: 1.28003113385646 Longitude: 103.854284863268
Marina Square, Latitude: 1.29185533273026 Longitude: 103.85857808906
Millenia Walk, Latitude: 1.29267926922552 Longitude: 103.860302888543
No result for Mustafa Shopping Centre
Ngee Ann City, Latitude: 1.3022727300848 Longitude: 103.834899517575
Orchard Central, Latitude: 1.30083890839245 Longitude: 103.839434733899
Orchard Gateway, Latitude: 1.30160116957544 Longitude: 103.838868886519
Orchard Plaza, Latitude: 1.30125729409965 Longitude: 103.841150144584
Midpoint Orchard, Latitude: 1.30178778502846 Longitude: 103.838659766022
Palais Renaissance, Latitude: 1.30665484543191 Longitude: 103.829588045188
People's Park Centre, Latitude: 1.28580583517057 Longitude: 103.844032214205
People's Park Complex, Latitude: 1.28404487854559 Longitude: 103.842590753293
Plaza Singapura, Latitude: 1.30083413030923 Longitude: 103.845072743164
No result for PoMo
Raffles City, Latitude: 1.29408304748297 Longitude: 103.853339531257
Scotts Square, Latitude: 1.30580609670053 Longitude: 103.833059609864
No result for Shaw House and Centre
Sim Lim Square, Latitude: 1.3030242605718 Longitude: 103.853037814067
Singapore Shopping Centre, Latitude: 1.28649701803051 Longitude: 103.844628721032
The South Beach, Latitude: 1.29498804392056 Longitude: 103.856276242094
Square 2, Latitude: 1.27822949964567 Longitude: 103.850812513482
Sunshine Plaza, Latitude: 1.30046735366415 Longitude: 103.850556061949
Suntec City, Latitude: 1.29350132535558 Longitude: 103.857307495824
Tanglin Mall, Latitude: 1.30485342102105 Longitude: 103.823883490852
Tanjong Pagar Centre, Latitude: 1.2755961982077 Longitude: 103.842393171342
Tekka Centre, Latitude: 1.30671098278725 Longitude: 103.85013440636
The Adelphi, Latitude: 1.29118503658447 Longitude: 103.851184338699
The Paragon, Latitude: 1.30387230879994 Longitude: 103.835857545469
Tiong Bahru Plaza, Latitude: 1.28644021678218 Longitude: 103.827450721571
The Poiz, Latitude: 1.33202729656296 Longitude: 103.868659488195
Thomson Plaza, Latitude: 1.35436282723449 Longitude: 103.83030941613
United Square, Latitude: 1.31719450988559 Longitude: 103.843611443038
Thomson V, Latitude: 1.35319495337208 Longitude: 103.835564729862
Velocity@Novena Square, Latitude: 1.31978949204523 Longitude: 103.844033569199
Wheelock Place, Latitude: 1.30467628730252 Longitude: 103.830642027577
Wisma Atria, Latitude: 1.30368769989282 Longitude: 103.833203583562
Zhongshan Mall, Latitude: 1.32694504484324 Longitude: 103.846554377679
Bedok Mall, Latitude: 1.32611970329469 Longitude: 103.929554495615
Century Square, Latitude: 1.35236829566862 Longitude: 103.943812302253
Changi City Point, Latitude: 1.33408363820793 Longitude: 103.962946043413
Downtown East, Latitude: 1.37912717878008 Longitude: 103.955444758145
Djitsun Mall Bedok, Latitude: 1.32611970329469 Longitude: 103.929554495615
Eastpoint Mall, Latitude: 1.34269199750599 Longitude: 103.953050756306
Jewel Changi Airport, Latitude: 1.36006289399606 Longitude: 103.989989170512
No result for KINEX (formerly OneKM)
Katong Shopping Centre, Latitude: 1.30379813229515 Longitude: 103.901161718308
Katong Square, Latitude: 1.30477683917233 Longitude: 103.904617722414
Kallang Wave Mall, Latitude: 1.30307515150401 Longitude: 103.873149707591
Leisure Park Kallang, Latitude: 1.30230108405227 Longitude: 103.876473975883
i12 Katong, Latitude: 1.30522306203042 Longitude: 103.905043928938
Our Tampines Hub, Latitude: 1.35218046898785 Longitude: 103.940598001519
Parkway Parade, Latitude: 1.30115259939855 Longitude: 103.905281816778
Paya Lebar Square, Latitude: 1.31881487007651 Longitude: 103.892580778514
No result for Paya Lebar Quarter (PLQ)
Roxy Square, Latitude: 1.30432599904899 Longitude: 103.904051120306
Singpost Centre, Latitude: 1.3676571104963 Longitude: 103.908955003554
Tampines 1, Latitude: 1.35455056402118 Longitude: 103.945303339931
Tampines Mall, Latitude: 1.35259361362837 Longitude: 103.944785968039
White Sands, Latitude: 1.37234519149636 Longitude: 103.949805421214
City Plaza, Latitude: 1.31470866320366 Longitude: 103.893508573389
Elias Mall, Latitude: 1.37790533095468 Longitude: 103.94233582068
Loyang Point, Latitude: 1.36645364037722 Longitude: 103.964598499523
888 Plaza, Latitude: 1.43712301500434 Longitude: 103.795314383823
Admiralty Place, Latitude: 1.43992345062736 Longitude: 103.80201525015
AMK Hub, Latitude: 1.36938922717717 Longitude: 103.848477965668
Canberra Plaza, Latitude: 1.44349544527985 Longitude: 103.830345369213
Causeway Point, Latitude: 1.43622867995805 Longitude: 103.786349823084
Woodlands Civic Centre, Latitude: 1.43501829566013 Longitude: 103.786930895956
Broadway Plaza, Latitude: 1.37193729131781 Longitude: 103.845949444498
Jubilee Square, Latitude: 1.37178558575829 Longitude: 103.847837565378
Junction 8, Latitude: 1.3501820033849 Longitude: 103.848515664081
Junction Nine, Latitude: 1.4331228398318 Longitude: 103.84166098599
Marsiling Mall, Latitude: 1.43354318137534 Longitude: 103.77988189197
Northpoint City, Latitude: 1.42790288991304 Longitude: 103.836177650973
Sembawang Shopping Centre, Latitude: 1.44185325264629 Longitude: 103.824832415833
Sun Plaza, Latitude: 1.44823113453257 Longitude: 103.819523749458
Vista Point, Latitude: 1.4308011390122 Longitude: 103.794104795966
Wisteria Mall, Latitude: 1.41798969122298 Longitude: 103.841317292608
Woodlands Mart, Latitude: 1.44564787003157 Longitude: 103.798162285805
Woodlands North Plaza, Latitude: 1.44285548185504 Longitude: 103.790965090129
Buangkok Square, Latitude: 1.38433426615655 Longitude: 103.881623070164
Compass One, Latitude: 1.3920543053799 Longitude: 103.895063884132
Greenwich V, Latitude: 1.38739539397015 Longitude: 103.869135978173
Heartland Mall, Latitude: 1.35954177325561 Longitude: 103.885167372726
Hougang 1, Latitude: 1.35664284566921 Longitude: 103.889828868222
Hougang Green Shopping Mall, Latitude: 1.37931783499145 Longitude: 103.88784708944
Hougang Mall, Latitude: 1.37248308734511 Longitude: 103.893788141349
NEX, Latitude: 1.35076935257845 Longitude: 103.872296143862
Northshore Plaza, Latitude: 1.41676127156324 Longitude: 103.902074379502
Oasis Terraces, Latitude: 1.40278015725693 Longitude: 103.913215101343
Punggol Plaza, Latitude: 1.39425629780831 Longitude: 103.913043510411
Rivervale Mall, Latitude: 1.39221732695142 Longitude: 103.904473070943
Rivervale Plaza, Latitude: 1.38533736107771 Longitude: 103.901841044122
Sengkang Grand Mall, Latitude: 1.38298163230717 Longitude: 103.892721008018
The Seletar Mall, Latitude: 1.39147015374628 Longitude: 103.876125507257
Upper Serangoon Shopping Centre, Latitude: 1.35348082277147 Longitude: 103.878828134896
Waterway Point, Latitude: 1.40637933605759 Longitude: 103.902172248289
myVillage At Serangoon Garden, Latitude: 1.36511490572797 Longitude: 103.865159501442
Beauty World Centre, Latitude: 1.34241264188642 Longitude: 103.776539385406
Beauty World Plaza, Latitude: 1.34180018619223 Longitude: 103.776259359854
Bukit Panjang Plaza, Latitude: 1.37989494369864 Longitude: 103.764459887796
Bukit Timah Plaza, Latitude: 1.3386316527745 Longitude: 103.778585430975
Fajar Shopping Centre, Latitude: 1.383601112147 Longitude: 103.77094013941
Greenridge Shopping Centre, Latitude: 1.38540569310644 Longitude: 103.766228468185
Hillion Mall, Latitude: 1.37848224932124 Longitude: 103.763672842754
HillV2, Latitude: 1.36267450828024 Longitude: 103.76417292006
Junction 10, Latitude: 1.38055127973087 Longitude: 103.760106974822
Keat Hong Shopping Centre, Latitude: 1.37736607441394 Longitude: 103.744393648768
Limbang Shopping Centre, Latitude: 1.3920738867617 Longitude: 103.743099573442
Lot One, Latitude: 1.38506992325619 Longitude: 103.745238868238
Rail Mall, Latitude: 1.35773050150178 Longitude: 103.768137724847
Sunshine Place, Latitude: 1.37789727709418 Longitude: 103.739015486021
Teck Whye Shopping Centre, Latitude: 1.38004752975397 Longitude: 103.752483841199
West Mall, Latitude: 1.35001920979845 Longitude: 103.749244800677
Yew Tee Point, Latitude: 1.39705741516141 Longitude: 103.746662121143
Yew Tee Square, Latitude: 1.39804736098268 Longitude: 103.74708477866
321 Clementi, Latitude: 1.31200212030821 Longitude: 103.764986676365
The Clementi Mall, Latitude: 1.31489619639366 Longitude: 103.764423054189
IMM, Latitude: 1.33487526118006 Longitude: 103.746894773008
JCube, Latitude: 1.33332312550425 Longitude: 103.740187071348
Jem, Latitude: 1.33305999269581 Longitude: 103.743503708169
Westgate, Latitude: 1.33415767556867 Longitude: 103.742766484424
Jurong Point, Latitude: 1.33945200436319 Longitude: 103.706685012654
Pioneer Mall, Latitude: 1.34172918995172 Longitude: 103.697223721918
The Star Vista, Latitude: 1.30681500712523 Longitude: 103.788462732266
Alexandra Central, Latitude: 1.28728320930592 Longitude: 103.805283367958
Anchorpoint, Latitude: 1.28861469030586 Longitude: 103.805009964592
No result for OD Mall
Boon Lay Shopping Centre, Latitude: 1.34637376407877 Longitude: 103.712472819666
Grantral Mall, Latitude: 1.31427043922294 Longitude: 103.765147487482
Fairprice Hub, Latitude: 1.35349593581988 Longitude: 103.940139392679
Gek Poh Shopping Centre, Latitude: 1.34874357136408 Longitude: 103.697732091001
Rochester Mall, Latitude: 1.30540765569962 Longitude: 103.788446680148
Taman Jurong Shopping Centre, Latitude: 1.33484487471259 Longitude: 103.720462024278
West Coast Plaza, Latitude: 1.30362457527941 Longitude: 103.765858386923
Queensway Shopping Centre, Latitude: 1.28761792586115 Longitude: 103.803391140455

We observe 9 malls that were unable to retrieve latitude and longitude values automatically, this missing latitude/longitude information will be added manually by looking up online or refining the search term in OneMAP API.

In [14]:
#add in latitude and longitude manually as search criteria not exactly matching between Wikipedia and OneMAP API
missing_malls={
    'Mall': ['Clarke Quay Central','City Gate Mall','Holland Village Shopping Mall','Mustafa Shopping Centre','PoMo','Shaw House and Centre','KINEX','Paya Lebar Quarter (PLQ)','OD Mall'],
    'Latitude': [1.2882413,1.30231590504573,1.31027747574118,1.31011213190394,1.300058,1.305512,1.31479,1.317369,1.3380],
    'Longitude': [103.846430401652,103.862331661034,103.795371163103,103.855290873926,103.849079,103.831755,103.89464,103.893266,103.7934]
}

mall_name += missing_malls['Mall']
mall_lat += missing_malls['Latitude']
mall_long += missing_malls['Longitude']

In [15]:
#calculate distance between 2 points using Haversine formula

from math import radians, cos, sin, asin, sqrt
def dist(lat1, lon1, lat2, lon2):
     
    # The math module contains a function named radians which converts from degrees to radians.
    lon1 = radians(lon1)
    lon2 = radians(lon2)
    lat1 = radians(lat1)
    lat2 = radians(lat2)
      
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
 
    c = 2 * asin(sqrt(a))
    
    # Radius of earth in kilometers. Use 3956 for miles
    r = 6371
      
    # calculate the result
    return(c *r*1000)

In [16]:
missing_lat=[x[42] for x in housing_df[housing_df['mall_nearest_distance'].isnull()].values]
missing_long=[x[43] for x in housing_df[housing_df['mall_nearest_distance'].isnull()].values]

In [17]:
#row index where mall nearest distance is null
row_index=housing_df[housing_df['mall_nearest_distance'].isnull()]['mall_nearest_distance'].index

In [18]:
def mall_nearest_dist(latitude,longitude):
    distance=[]
    for i in range(len(latitude)):
        x=[]
        for j in range(len(mall_name)):
            x.append(dist(latitude[i],longitude[i],mall_lat[j],mall_long[j]))
        distance.append(pd.DataFrame(x).min().values[0])
    return distance

distance=pd.DataFrame(mall_nearest_dist(missing_lat,missing_long)).rename(columns={0:'mall_nearest_distance'})
distance.rename(index={x:row_index[x] for x in range(len(distance))},inplace=True)

def mall_dist(x):
    if pd.isna(housing_df['mall_nearest_distance'][x]):
        return distance['mall_nearest_distance'][x]
    else:
        pass

In [19]:
distance

        mall_nearest_distance
75                 718.413943
321                360.484154
478               1249.235236
643                445.437124
691                125.537430
...                       ...
150296             608.476689
150388             407.235056
150394             593.707668
150479             502.309635
150625             408.320059

[829 rows x 1 columns]

In [20]:
# if null detected in mall nearest distance, it will be replaced by a value from the distance dataframe (with matching index, 
# since the row index with nulls has already been established)
for i in range(len(housing_df)):
    if i in row_index.values:
        housing_df.loc[i,'mall_nearest_distance']=mall_dist(i)

In [21]:
housing_df.loc[row_index,['mall_nearest_distance','mall_within_500m','mall_within_1km','mall_within_2km']].isnull().sum()

mall_nearest_distance      0
mall_within_500m         829
mall_within_1km          829
mall_within_2km          829
dtype: int64

These 829 rows already have a nearest mall distance, as expected they do not have a mall quantity within 500m/1km/2km. We proceed to calculate the 3 values for each row.

In [22]:
def mall_500m(latitude,longitude):
    n_malls_500m=[]
    for i in range(len(latitude)):
        x=[]
        for j in range(len(mall_name)):
            x.append(dist(latitude[i],longitude[i],mall_lat[j],mall_long[j]))
        x=pd.DataFrame(x).rename(columns={0:'dist'})
        n_malls_500m.append(x[x['dist']<=500].count().values[0])
    return n_malls_500m

n_malls_500m=pd.DataFrame(mall_500m(missing_lat,missing_long)).rename(columns={0:'mall_within_500m'})
n_malls_500m.rename(index={x:row_index[x] for x in range(len(distance))},inplace=True)

In [23]:
n_malls_500m

        mall_within_500m
75                     0
321                    1
478                    0
643                    1
691                    3
...                  ...
150296                 0
150388                 1
150394                 0
150479                 0
150625                 1

[829 rows x 1 columns]

In [24]:
# calculate the number of malls within 500m if the row index previously had a null value for mall_nearest_distance
for i in range(len(housing_df)):
    if i in row_index.values:
        housing_df.loc[i,'mall_within_500m']=n_malls_500m['mall_within_500m'][i]

In [25]:
def mall_1km(latitude,longitude):
    n_malls_1km=[]
    for i in range(len(latitude)):
        x=[]
        for j in range(len(mall_name)):
            x.append(dist(latitude[i],longitude[i],mall_lat[j],mall_long[j]))
        x=pd.DataFrame(x).rename(columns={0:'dist'})
        n_malls_1km.append(x[x['dist']<=1000].count().values[0])
    return n_malls_1km

n_malls_1km=pd.DataFrame(mall_1km(missing_lat,missing_long)).rename(columns={0:'mall_within_1km'})
n_malls_1km.rename(index={x:row_index[x] for x in range(len(distance))},inplace=True)

In [26]:
n_malls_1km

        mall_within_1km
75                    1
321                   3
478                   0
643                   2
691                   3
...                 ...
150296                1
150388                2
150394                2
150479                2
150625                2

[829 rows x 1 columns]

In [27]:
for i in range(len(housing_df)):
    if i in row_index.values:
        housing_df.loc[i,'mall_within_1km']=n_malls_1km['mall_within_1km'][i]

In [28]:
def mall_2km(latitude,longitude):
    n_malls_2km=[]
    for i in range(len(latitude)):
        x=[]
        for j in range(len(mall_name)):
            #x.append(dist(missing.values[0][2],missing.values[0][3],mall_lat[i],mall_long[i]))
            x.append(dist(latitude[i],longitude[i],mall_lat[j],mall_long[j]))
        x=pd.DataFrame(x).rename(columns={0:'dist'})
        n_malls_2km.append(x[x['dist']<=2000].count().values[0])
    return n_malls_2km

n_malls_2km=pd.DataFrame(mall_2km(missing_lat,missing_long)).rename(columns={0:'mall_within_2km'})
n_malls_2km.rename(index={x:row_index[x] for x in range(len(distance))},inplace=True)

In [29]:
n_malls_2km

        mall_within_2km
75                    4
321                   8
478                   4
643                   6
691                   4
...                 ...
150296                5
150388                5
150394                5
150479                5
150625                5

[829 rows x 1 columns]

In [30]:
for i in range(len(housing_df)):
    if i in row_index.values:
        housing_df.loc[i,'mall_within_2km']=n_malls_2km['mall_within_2km'][i]

In [31]:
housing_df.loc[:,['mall_nearest_distance','mall_within_500m','mall_within_1km','mall_within_2km']].isnull().sum()

mall_nearest_distance        0
mall_within_500m         91960
mall_within_1km          24597
mall_within_2km           1111
dtype: int64

As there are no missing values for mall nearest distance, it is highly likely that the mall nearest distance in specific rows has exceeded 500m/1km/2km, hence resulting in mall null values. This can be easily validated by finding the minimum distance for specific rows containing nulls, as shown below.

In [32]:
#check if there is any discrepancy in minimum mall distance larger than 500m/1km/2km for rows with missing mall count
print(f"Minimium mall distance greater than 500m: \
{round(housing_df[housing_df['mall_within_500m'].isnull()]['mall_nearest_distance'].min(),3)}m")

print(f"Minimium mall distance greater than 1km: \
{round(housing_df[housing_df['mall_within_1km'].isnull()]['mall_nearest_distance'].min(),3)}m")

print(f"Minimium mall distance greater than 2km: \
{round(housing_df[housing_df['mall_within_2km'].isnull()]['mall_nearest_distance'].min(),3)}m")

Minimium mall distance greater than 500m: 500.056m
Minimium mall distance greater than 1km: 1000.023m
Minimium mall distance greater than 2km: 2000.176m

For the rows with missing mall value, we see that the available minimum distance greater than 500m, 1km and 2km is 500.056m, 1000.023m and 2000.176m respectively. This implies that the nulls in each of these 3 columns can be set to 0, since the minimum distance present is larger than the specified distance.

In [33]:
housing_df.loc[housing_df['mall_within_500m'].isnull(),'mall_within_500m']=0
housing_df.loc[housing_df['mall_within_1km'].isnull(),'mall_within_1km']=0
housing_df.loc[housing_df['mall_within_2km'].isnull(),'mall_within_2km']=0

Lastly, we convert the values in specific columns to appropriate data types. This is done at the very end as there were nulls in some of the columns and datatype conversion was not possible.

In [34]:
#change specific columns in dataset to appropriate data types
housing_df['id']=housing_df['id'].map(lambda x: str(x))
housing_df['mall_within_500m']=housing_df['mall_within_500m'].map(lambda x: int(x))
housing_df['mall_within_1km']=housing_df['mall_within_1km'].map(lambda x: int(x))
housing_df['mall_within_2km']=housing_df['mall_within_2km'].map(lambda x: int(x))
housing_df['hawker_within_500m']=housing_df['hawker_within_500m'].map(lambda x: int(x))
housing_df['hawker_within_1km']=housing_df['hawker_within_1km'].map(lambda x: int(x))
housing_df['hawker_within_2km']=housing_df['hawker_within_2km'].map(lambda x: int(x))

In [35]:
# to verify if there are any missing values in each column
housing_df.isnull().sum().sum()

0

In [36]:
# to check if there are any identical rows
housing_df.duplicated().sum()

0

We have verified that the housing dataset does not contain any nulls and no duplicated rows are seen as well.

In [37]:
#save and export data for further analysis
housing_df.to_csv("../datasets/cleaned_housing_data.csv",index=False)