# Part 3 - Model Tuning and Evaluation

In [1]:
# import libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso,LassoCV,Ridge,RidgeCV
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score, mean_squared_error
%matplotlib inline
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.filterwarnings("ignore", category=ConvergenceWarning)

<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
#import data
housing_df=pd.read_csv("../datasets/modelling_housing_data.csv",low_memory=False)
housing_df.head()

,id,tranc_yearmonth,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,...,vacancy,pri_sch_affiliation,pri_sch_latitude,pri_sch_longitude,sec_sch_nearest_dist,sec_sch_name,cutoff_point,sec_sch_affiliation,sec_sch_latitude,sec_sch_longitude
0,88471,2016-05,KALLANG/WHAMPOA,4 ROOM,3B,UPP BOON KENG RD,10 TO 12,90.0,Model A,2006,...,78,1,1.317659,103.882504,1138.633422,Geylang Methodist School,224,0,1.317659,103.882504
1,122598,2012-07,BISHAN,5 ROOM,153,BISHAN ST 13,07 TO 09,130.0,Improved,1987,...,45,1,1.349783,103.854529,447.894399,Kuo Chuan Presbyterian Secondary School,232,0,1.350110,103.854892
2,170897,2013-07,BUKIT BATOK,EXECUTIVE,289B,BT BATOK ST 25,13 TO 15,144.0,Apartment,1997,...,39,0,1.345245,103.756265,180.074558,Yusof Ishak Secondary School,188,0,1.342334,103.760013
3,86070,2012-04,BISHAN,4 ROOM,232,BISHAN ST 22,01 TO 05,103.0,Model A,1992,...,20,1,1.354789,103.844934,389.515528,Catholic High School,253,1,1.354789,103.844934
4,153632,2017-12,YISHUN,4 ROOM,876,YISHUN ST 81,01 TO 03,83.0,Simplified,1987,...,74,0,1.416280,103.838798,312.025435,Orchid Park Secondary School,208,0,1.414888,103.838335

In [3]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56220 entries, 0 to 56219
Data columns (total 77 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         56220 non-null  int64
 1   tranc_yearmonth            56220 non-null  object
 2   town                       56220 non-null  object
 3   flat_type                  56220 non-null  object
 4   block                      56220 non-null  object
 5   street_name                56220 non-null  object
 6   storey_range               56220 non-null  object
 7   floor_area_sqm             56220 non-null  float64
 8   flat_model                 56220 non-null  object
 9   lease_commence_date        56220 non-null  int64
 10  resale_price               56220 non-null  float64
 11  tranc_year                 56220 non-null  int64
 12  tranc_month                56220 non-null  int64
 13  mid_storey                 56220 non-null  int64
 14  lower                      56220 non-null  int64
 15  upper                      56220 non-null  int64
 16  mid                        56220 non-null  int64
 17  full_flat_type             56220 non-null  object
 18  address                    56220 non-null  object
 19  floor_area_sqft            56220 non-null  float64
 20  hdb_age                    56220 non-null  int64
 21  max_floor_lvl              56220 non-null  int64
 22  year_completed             56220 non-null  int64
 23  residential                56220 non-null  object
 24  commercial                 56220 non-null  int64
 25  market_hawker              56220 non-null  int64
 26  multistorey_carpark        56220 non-null  int64
 27  precinct_pavilion          56220 non-null  int64
 28  total_dwelling_units       56220 non-null  int64
 29  1room_sold                 56220 non-null  int64
 30  2room_sold                 56220 non-null  int64
 31  3room_sold                 56220 non-null  int64
 32  4room_sold                 56220 non-null  int64
 33  5room_sold                 56220 non-null  int64
 34  exec_sold                  56220 non-null  int64
 35  multigen_sold              56220 non-null  int64
 36  studio_apartment_sold      56220 non-null  int64
 37  1room_rental               56220 non-null  int64
 38  2room_rental               56220 non-null  int64
 39  3room_rental               56220 non-null  int64
 40  other_room_rental          56220 non-null  int64
 41  postal                     56220 non-null  object
 42  latitude                   56220 non-null  float64
 43  longitude                  56220 non-null  float64
 44  planning_area              56220 non-null  object
 45  mall_nearest_distance      56220 non-null  float64
 46  mall_within_500m           56220 non-null  int64
 47  mall_within_1km            56220 non-null  int64
 48  mall_within_2km            56220 non-null  int64
 49  hawker_nearest_distance    56220 non-null  float64
 50  hawker_within_500m         56220 non-null  int64
 51  hawker_within_1km          56220 non-null  int64
 52  hawker_within_2km          56220 non-null  int64
 53  hawker_food_stalls         56220 non-null  int64
 54  hawker_market_stalls       56220 non-null  int64
 55  mrt_nearest_distance       56220 non-null  float64
 56  mrt_name                   56220 non-null  object
 57  bus_interchange            56220 non-null  int64
 58  mrt_interchange            56220 non-null  int64
 59  mrt_latitude               56220 non-null  float64
 60  mrt_longitude              56220 non-null  float64
 61  bus_stop_nearest_distance  56220 non-null  float64
 62  bus_stop_name              56220 non-null  object
 63  bus_stop_latitude          56220 non-null  float64
 64  bus_stop_longitude         56220 non-null  float64
 65  pri_sch_nearest_distance   56220 non-null  float64
 66  pri_sch_name               56220 non-null  object
 67  vacancy                    56220 non-null  int64
 68  pri_sch_affiliation        56220 non-null  int64
 69  pri_sch_latitude           56220 non-null  float64
 70  pri_sch_longitude          56220 non-null  float64
 71  sec_sch_nearest_dist       56220 non-null  float64
 72  sec_sch_name               56220 non-null  object
 73  cutoff_point               56220 non-null  int64
 74  sec_sch_affiliation        56220 non-null  int64
 75  sec_sch_latitude           56220 non-null  float64
 76  sec_sch_longitude          56220 non-null  float64
dtypes: float64(19), int64(42), object(16)
memory usage: 33.0+ MB

In [4]:
housing_df['id']=housing_df['id'].map(lambda x: str(x))

In [5]:
housing_df.describe()

,floor_area_sqm,lease_commence_date,resale_price,tranc_year,tranc_month,mid_storey,lower,upper,mid,floor_area_sqft,...,pri_sch_nearest_distance,vacancy,pri_sch_affiliation,pri_sch_latitude,pri_sch_longitude,sec_sch_nearest_dist,cutoff_point,sec_sch_affiliation,sec_sch_latitude,sec_sch_longitude
count,56220.000000,56220.000000,5.622000e+04,56220.000000,56220.000000,56220.000000,56220.000000,56220.000000,56220.000000,56220.000000,...,56220.000000,56220.000000,56220.000000,56220.000000,56220.000000,56220.000000,56220.000000,56220.000000,56220.000000,56220.000000
mean,97.403479,1992.486233,4.505056e+05,2016.494753,6.575382,8.305016,7.268783,9.341249,8.305016,1048.451050,...,395.111027,55.392921,0.114781,1.366271,103.839338,509.381286,210.179100,0.031732,1.366004,103.839558
std,24.440079,12.141430,1.440083e+05,2.753986,3.336262,5.543214,5.550374,5.542348,5.543214,263.073008,...,234.113190,17.877585,0.318761,0.042699,0.072729,308.438194,20.019264,0.175289,0.042613,0.072718
min,31.000000,1966.000000,1.650000e+05,2012.000000,1.000000,2.000000,1.000000,3.000000,2.000000,333.684000,...,45.668324,20.000000,0.000000,1.274962,103.687724,38.913475,188.000000,0.000000,1.276029,103.687207
25%,76.000000,1984.000000,3.480000e+05,2014.000000,4.000000,5.000000,4.000000,6.000000,5.000000,818.064000,...,227.366303,44.000000,0.000000,1.337289,103.773754,290.740056,188.000000,0.000000,1.337545,103.776008
50%,95.000000,1992.000000,4.250000e+05,2017.000000,7.000000,8.000000,7.000000,9.000000,8.000000,1022.580000,...,348.876691,54.000000,0.000000,1.364639,103.844210,449.136867,208.000000,0.000000,1.364334,103.842719
75%,113.000000,2001.000000,5.200000e+05,2019.000000,9.000000,11.000000,10.000000,12.000000,11.000000,1216.332000,...,502.179385,67.000000,0.000000,1.394530,103.898773,644.453973,224.000000,0.000000,1.391781,103.899872
max,280.000000,2019.000000,1.248000e+06,2021.000000,12.000000,50.000000,49.000000,51.000000,50.000000,3013.920000,...,3305.841039,110.000000,1.000000,1.456667,103.962919,3638.977233,260.000000,1.000000,1.453280,103.961105

### Feature Selection

The following features will be selected for modelling resale price based on our EDA, as summarised in below table.


|   Variable Type   | Model Feature |
| ----------------------| ------------- |
| Numerical | hdb_age |
| Numerical | mid |
| Numerical | max_floor_lvl  |
| Numerical | floor_area_sqft |
| Numerical | bus_interchange |
| Numerical | mrt_interchange |
| Numerical |mall_nearest_distance|
| Numerical |mrt_nearest_distance| 
| Numerical |hawker_nearest_distance| 
| Numerical |pri_sch_nearest_distance| 
| Numerical |sec_sch_nearest_dist| 
| Categorical | planning_area|
| Categorical | full_flat_type|

As planning area and full flat type are categorical variables, one-hot encoding will be applied to convert them into numerical variables for modelling purposes.

### Baseline Model

We establish the baseline model using a dummy regressor that predicts the resale price as the median resale price of the training dataset.

In [6]:
X = housing_df[['hdb_age','mid','max_floor_lvl','floor_area_sqft','pri_sch_nearest_distance','sec_sch_nearest_dist','hawker_nearest_distance','mrt_nearest_distance',
                'bus_interchange','mrt_interchange','mall_nearest_distance','planning_area','full_flat_type']]
X = pd.get_dummies(X, columns=['planning_area','full_flat_type'],drop_first=True)
y = housing_df['resale_price']

In [7]:
X.head()

,hdb_age,mid,max_floor_lvl,floor_area_sqft,pri_sch_nearest_distance,sec_sch_nearest_dist,hawker_nearest_distance,mrt_nearest_distance,bus_interchange,mrt_interchange,...,full_flat_type_5 ROOM Premium Apartment,full_flat_type_5 ROOM Premium Apartment Loft,full_flat_type_5 ROOM Standard,full_flat_type_5 ROOM Type S2,full_flat_type_EXECUTIVE Adjoined flat,full_flat_type_EXECUTIVE Apartment,full_flat_type_EXECUTIVE Maisonette,full_flat_type_EXECUTIVE Premium Apartment,full_flat_type_EXECUTIVE Premium Maisonette,full_flat_type_MULTI-GENERATION Multi Generation
0,15,11,25,968.760,1138.633422,1138.633422,154.753357,330.083069,0,0,...,0,0,0,0,0,0,0,0,0,0
1,34,8,9,1399.320,415.607357,447.894399,640.151925,903.659703,1,1,...,0,0,0,0,0,0,0,0,0,0
2,24,14,16,1550.016,498.849039,180.074558,1762.082341,1334.251197,1,0,...,0,0,0,0,0,1,0,0,0,0
3,29,3,11,1108.692,389.515528,389.515528,726.215262,907.453484,1,1,...,0,0,0,0,0,0,0,0,0,0
4,34,2,4,893.412,401.200584,312.025435,1540.151439,412.343032,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=30)
base_model = DummyRegressor(strategy='median')
base_model.fit(X_train, y_train)
y_pred=base_model.predict(X_test)
y_pred_train=base_model.predict(X_train)
baseline_RMSE=np.sqrt(metrics.mean_squared_error(y_test,y_pred))
baseline_cross_val_score=cross_val_score(base_model,X_train,y_train,cv=5).mean()
baseline_train_R2_score=r2_score(y_train,y_pred_train)
baseline_test_R2_score=r2_score(y_test,y_pred)

print(f"Baseline RMSE: {baseline_RMSE}")
print(f"Baseline 5-fold validation score: {baseline_cross_val_score}")
print(f"Train R2 score: {baseline_train_R2_score}")
print(f"Test R2 score: {baseline_test_R2_score}")

Baseline RMSE: 144537.63285165015
Baseline 5-fold validation score: -0.03427455111212985
Train R2 score: -0.03454429132781289
Test R2 score: -0.03189280316881682

### Linear Regression

In [9]:
X = housing_df[['hdb_age','mid','max_floor_lvl','floor_area_sqft','pri_sch_nearest_distance','sec_sch_nearest_dist','hawker_nearest_distance','mrt_nearest_distance',
                'bus_interchange','mrt_interchange','mall_nearest_distance','planning_area','full_flat_type']]
X = pd.get_dummies(X, columns=['planning_area','full_flat_type'],drop_first=True)
y = housing_df['resale_price']

In [10]:
#linear regression
lr = LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=30)
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)
lr_RMSE=np.sqrt(metrics.mean_squared_error(y_test,y_pred))
lr_cross_val_score=cross_val_score(lr,X_train,y_train,cv=5).mean()
lr_train_R2_score=r2_score(lr.predict(X_train), y_train)
lr_test_R2_score=r2_score(lr.predict(X_test), y_test)
print(f"Linear regression RMSE: {lr_RMSE}")
print(f"Linear regression 5-fold validation score: {lr_cross_val_score}")
print(f"Linear regression train R2 score: {lr_train_R2_score}")
print(f"Linear regression test R2 score: {lr_test_R2_score}")

Linear regression RMSE: 50395.48955550961
Linear regression 5-fold validation score: 0.8727709293936696
Linear regression train R2 score: 0.8551978008546991
Linear regression test R2 score: 0.8578618865141349

In [11]:
lr.intercept_

207300.52039467118

In [12]:
lr.coef_

array([-3.44487155e+03,  3.31542156e+03,  2.87638651e+03,  3.06014294e+02,
        1.33865157e+01,  1.03171907e+01, -1.85959810e+01, -5.87158864e+01,
        6.47576762e+03,  3.60169300e+03, -1.72091696e+01, -1.16557226e+04,
        9.62704625e+04, -4.21462916e+04,  8.64030505e+04, -1.08938925e+05,
        1.40650914e+05,  1.61491652e+05, -1.05325781e+05,  2.71922545e+04,
        1.51849065e+05,  1.94916785e+04, -4.73262815e+04, -4.95717544e+04,
       -9.03736509e+04,  3.14494369e+04,  2.10746603e+05,  2.43047094e+04,
        8.41285083e+04, -5.98915605e+04, -3.55461452e+04,  8.06237608e+04,
        1.47544050e+04, -1.41845924e+05, -7.35149751e+04,  3.56421570e+04,
       -2.57132454e+04,  1.83486472e+05,  3.29834706e+04, -6.50518279e+04,
       -1.35596468e+05, -7.75905537e+04, -2.83783448e+04, -1.41385391e+03,
       -1.20173646e+04,  1.93911830e+04, -1.67035742e+04,  4.66490880e+04,
        8.33262885e+03,  3.40190994e+04,  3.24275758e+04,  1.91682569e+04,
        4.46584626e+04,  1.36731240e+04,  4.26842915e+05,  8.76504409e+04,
        1.29600741e+05,  2.87440443e+04,  3.98275530e+04,  4.56470383e+04,
        5.11462080e+04,  6.08103865e+04,  1.70075036e+05,  5.21030325e+04,
        6.76102483e+04,  4.78826272e+05,  1.39595465e+05,  1.32795540e+05,
        1.91043900e+05,  5.82195368e+04,  2.35996429e+05,  4.90117632e+04,
        1.77721410e+05,  5.84742434e+04,  2.06862454e+05,  8.97718315e+04,
        2.27656731e+05,  1.70150596e+05,  1.02235576e+05,  1.34839758e+05,
        7.79000181e+04,  1.27121278e+05,  1.91438752e+05])

### Lasso Regression

In [13]:
X = housing_df[['hdb_age','mid','max_floor_lvl','floor_area_sqft','pri_sch_nearest_distance','sec_sch_nearest_dist','hawker_nearest_distance','mrt_nearest_distance',
                'bus_interchange','mrt_interchange','mall_nearest_distance','planning_area','full_flat_type']]
X = pd.get_dummies(X, columns=['planning_area','full_flat_type'],drop_first=True)
y = housing_df['resale_price']

X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=30)

In [14]:
alphas = np.logspace(-4, 4, 2000)
LS = LassoCV(alphas = alphas ,cv=5, random_state=30).fit(X_train, y_train)
y_pred_with_lasso = LS.predict(X_test)

lasso_RMSE=np.sqrt(metrics.mean_squared_error(y_test,y_pred_with_lasso))
lasso_train_R2_score=r2_score(LS.predict(X_train), y_train)
lasso_test_R2_score=r2_score(LS.predict(X_test), y_test)
print(f"alpha: {LS.alpha_}")
print(f"Lasso RMSE: {lasso_RMSE}")
print(f"Lasso regression train R2 score: {lasso_train_R2_score}")
print(f"Lasso regression test R2 score: {lasso_test_R2_score}")

alpha: 0.0001
Lasso RMSE: 50400.152892111924
Lasso regression train R2 score: 0.8551793483624074
Lasso regression test R2 score: 0.85783064747522

In [15]:
LS.coef_

array([-3.45792538e+03,  3.31517185e+03,  2.88389854e+03,  3.08595546e+02,
        1.33653466e+01,  1.03649024e+01, -1.86002146e+01, -5.87916631e+01,
        6.47459962e+03,  3.60537663e+03, -1.72478859e+01, -1.16590340e+04,
        9.62109527e+04, -4.21460824e+04,  8.60397203e+04, -1.08945143e+05,
        1.40556631e+05,  1.61614813e+05, -1.05395109e+05,  2.72048962e+04,
        1.51814078e+05,  1.94703075e+04, -4.73366028e+04, -4.95980019e+04,
       -9.03400701e+04,  3.13589368e+04,  2.10738151e+05,  2.43243448e+04,
        8.40101766e+04, -5.99914642e+04, -3.55080565e+04,  8.05219127e+04,
        1.46523857e+04, -1.41786114e+05, -7.34628844e+04,  3.56379600e+04,
       -2.57228785e+04,  1.83321559e+05,  3.29227049e+04, -6.51857731e+04,
       -1.35684380e+05, -7.75863524e+04, -5.34098283e+04, -2.59210476e+04,
       -3.70657955e+04, -5.78764875e+03, -4.10178309e+04,  2.09974312e+04,
       -1.66865731e+04,  8.54126686e+03,  7.19096917e+03, -6.49987757e+03,
        1.95126027e+04, -1.10923011e+04,  4.00765336e+05,  6.12707371e+04,
        1.03269683e+05,  3.16320225e+03,  1.35400855e+04,  1.96109160e+04,
        2.52644332e+04,  3.44835707e+04,  1.43429529e+05,  2.64078292e+04,
        4.25552370e+04,  4.52635498e+05,  1.13052600e+05,  1.05812886e+05,
        1.64113376e+05,  3.14311187e+04,  2.09013224e+05,  2.18996518e+04,
        1.50470463e+05,  3.16732850e+04,  1.78942455e+05,  6.32564539e+04,
        2.00790010e+05,  1.42390847e+05,  7.47685156e+04,  1.07349772e+05,
        5.05927292e+04,  9.89312556e+04,  1.63418560e+05])

In [16]:
LS.intercept_

231101.5882953825

### Ridge Regression

In [17]:
X = housing_df[['hdb_age','mid','max_floor_lvl','floor_area_sqft','pri_sch_nearest_distance','sec_sch_nearest_dist','hawker_nearest_distance','mrt_nearest_distance',
                'bus_interchange','mrt_interchange','mall_nearest_distance','planning_area','full_flat_type']]
X = pd.get_dummies(X, columns=['planning_area','full_flat_type'],drop_first=True)
y = housing_df['resale_price']
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=30)

In [18]:
alphas = np.logspace(-4, 4, 2000)
ridge = RidgeCV(alphas = alphas ,cv=5).fit(X_train, y_train)
y_pred_with_ridge = ridge.predict(X_test)

ridge_RMSE=np.sqrt(metrics.mean_squared_error(y_test,y_pred_with_ridge))
ridge_train_R2_score=r2_score(ridge.predict(X_train), y_train)
ridge_test_R2_score=r2_score(ridge.predict(X_test), y_test)
print(f"Ridge regression alpha: {ridge.alpha_}")
print(f"Ridge regression RMSE: {ridge_RMSE}")
print(f"Ridge regression train R2 score: {ridge_train_R2_score}")
print(f"Ridge regression test R2 score: {ridge_test_R2_score}")

Ridge regression alpha: 0.01928157789796517
Ridge regression RMSE: 50396.06002052935
Ridge regression train R2 score: 0.8551890822561222
Ridge regression test R2 score: 0.8578527256709573

In [19]:
ridge.coef_

array([-3.44807425e+03,  3.31540920e+03,  2.87818626e+03,  3.06729035e+02,
        1.33828533e+01,  1.03294014e+01, -1.86013971e+01, -5.87313459e+01,
        6.47393556e+03,  3.60225068e+03, -1.72112387e+01, -1.16617657e+04,
        9.62499428e+04, -4.21438933e+04,  8.63330524e+04, -1.08935952e+05,
        1.40592470e+05,  1.61168502e+05, -1.05329428e+05,  2.71947203e+04,
        1.51546282e+05,  1.94849627e+04, -4.73257753e+04, -4.95836325e+04,
       -9.03623977e+04,  3.14240750e+04,  2.10718268e+05,  2.43266333e+04,
        8.41433493e+04, -5.99184118e+04, -3.55138164e+04,  8.06109612e+04,
        1.47296234e+04, -1.41815836e+05, -7.34891827e+04,  3.56387465e+04,
       -2.57167311e+04,  1.82551067e+05,  3.29659376e+04, -6.46565735e+04,
       -1.35619047e+05, -7.75888376e+04, -3.24130340e+04, -5.63361342e+03,
       -1.63699826e+04,  1.49839786e+04, -2.08775775e+04,  4.21200512e+04,
        3.97000360e+03,  2.95391520e+04,  2.80093899e+04,  1.46395060e+04,
        4.02677103e+04,  9.36870361e+03,  4.21810650e+05,  8.26988443e+04,
        1.24884949e+05,  2.42337351e+04,  3.51235364e+04,  4.10134957e+04,
        4.65472220e+04,  5.60975191e+04,  1.64981042e+05,  4.75577057e+04,
        6.31508279e+04,  4.72293811e+05,  1.34760448e+05,  1.27835464e+05,
        1.86159834e+05,  5.33749309e+04,  2.29977310e+05,  4.40705146e+04,
        1.72703056e+05,  5.36277063e+04,  1.99784056e+05,  8.49908935e+04,
        2.22637816e+05,  1.64901668e+05,  9.72021234e+04,  1.29795168e+05,
        7.29085411e+04,  1.21499018e+05,  1.85975282e+05])

In [20]:
ridge.intercept_

211304.7908395706

No significant improvement was noted in terms of RMSE or R2 score when Lasso or Ridge regularisation was applied. We will rely on existing linear regression model to further understand our coefficients, since there was a significant improvement observed relative to the baseline score.

In [21]:
X = housing_df[['hdb_age','mid','max_floor_lvl','floor_area_sqft','pri_sch_nearest_distance','sec_sch_nearest_dist','hawker_nearest_distance','mrt_nearest_distance',
                'bus_interchange','mrt_interchange','mall_nearest_distance','planning_area','full_flat_type']]
X = pd.get_dummies(X, columns=['planning_area','full_flat_type'],drop_first=True)
y = housing_df['resale_price']

In [22]:
lr = LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=30)
lr.fit(X_train,y_train)

LinearRegression()

In [23]:
coefficients={'Feature':[x for x in X_train.columns],
              'Coefficient Value':[x for x in lr.coef_]}

coefficients['Category'] = ['full_flat_type' if 'full_flat_type' in var 
                          else 'planning_area' if 'planning_area' in var
                          else 'mrt/bus' if ('mrt' in var) | ('bus' in var)
                          else 'hawker' if 'hawker' in var
                          else 'storey' if (var == 'mid') | ('storey' in var) | ('lvl' in var)
                          else 'mall' if 'mall' in var
                          else 'time' if 'tranc' in var
                          else 'sch' if 'sch' in var
                          else var for var in X_train.columns]

In [24]:
coeff_table=pd.DataFrame(coefficients)
coeff_table.to_csv("../datasets/model_coefficients.csv",index=False)