# Part 1 - Data Cleaning

In [1]:
# import libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup as bs
import json
import requests
%matplotlib inline

In [2]:
# import data
housing_df=pd.read_csv("../datasets/train.csv")
housing_df.head()

C:\Users\songk\AppData\Local\Temp\ipykernel_29608\1090650860.py:2: DtypeWarning: Columns (41) have mixed types. Specify dtype option on import or set low_memory=False.
  housing_df=pd.read_csv("../datasets/train.csv")

,id,Tranc_YearMonth,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,...,vacancy,pri_sch_affiliation,pri_sch_latitude,pri_sch_longitude,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,sec_sch_latitude,sec_sch_longitude
0,88471,2016-05,KALLANG/WHAMPOA,4 ROOM,3B,UPP BOON KENG RD,10 TO 12,90.0,Model A,2006,...,78,1,1.317659,103.882504,1138.633422,Geylang Methodist School,224,0,1.317659,103.882504
1,122598,2012-07,BISHAN,5 ROOM,153,BISHAN ST 13,07 TO 09,130.0,Improved,1987,...,45,1,1.349783,103.854529,447.894399,Kuo Chuan Presbyterian Secondary School,232,0,1.350110,103.854892
2,170897,2013-07,BUKIT BATOK,EXECUTIVE,289B,BT BATOK ST 25,13 TO 15,144.0,Apartment,1997,...,39,0,1.345245,103.756265,180.074558,Yusof Ishak Secondary School,188,0,1.342334,103.760013
3,86070,2012-04,BISHAN,4 ROOM,232,BISHAN ST 22,01 TO 05,103.0,Model A,1992,...,20,1,1.354789,103.844934,389.515528,Catholic High School,253,1,1.354789,103.844934
4,153632,2017-12,YISHUN,4 ROOM,876,YISHUN ST 81,01 TO 03,83.0,Simplified,1987,...,74,0,1.416280,103.838798,312.025435,Orchid Park Secondary School,208,0,1.414888,103.838335

We observe column 42 (postal) has mixed data types. Here we standardise the datatype in this column by setting as string.

In [3]:
housing_df.columns[41]

'postal'

In [4]:
# convert postal to string
housing_df['postal']=housing_df['postal'].map(lambda x: str(x))

In [5]:
housing_df.shape

(150634, 77)

In [6]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150634 entries, 0 to 150633
Data columns (total 77 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         150634 non-null  int64
 1   Tranc_YearMonth            150634 non-null  object
 2   town                       150634 non-null  object
 3   flat_type                  150634 non-null  object
 4   block                      150634 non-null  object
 5   street_name                150634 non-null  object
 6   storey_range               150634 non-null  object
 7   floor_area_sqm             150634 non-null  float64
 8   flat_model                 150634 non-null  object
 9   lease_commence_date        150634 non-null  int64
 10  resale_price               150634 non-null  float64
 11  Tranc_Year                 150634 non-null  int64
 12  Tranc_Month                150634 non-null  int64
 13  mid_storey                 150634 non-null  int64
 14  lower                      150634 non-null  int64
 15  upper                      150634 non-null  int64
 16  mid                        150634 non-null  int64
 17  full_flat_type             150634 non-null  object
 18  address                    150634 non-null  object
 19  floor_area_sqft            150634 non-null  float64
 20  hdb_age                    150634 non-null  int64
 21  max_floor_lvl              150634 non-null  int64
 22  year_completed             150634 non-null  int64
 23  residential                150634 non-null  object
 24  commercial                 150634 non-null  object
 25  market_hawker              150634 non-null  object
 26  multistorey_carpark        150634 non-null  object
 27  precinct_pavilion          150634 non-null  object
 28  total_dwelling_units       150634 non-null  int64
 29  1room_sold                 150634 non-null  int64
 30  2room_sold                 150634 non-null  int64
 31  3room_sold                 150634 non-null  int64
 32  4room_sold                 150634 non-null  int64
 33  5room_sold                 150634 non-null  int64
 34  exec_sold                  150634 non-null  int64
 35  multigen_sold              150634 non-null  int64
 36  studio_apartment_sold      150634 non-null  int64
 37  1room_rental               150634 non-null  int64
 38  2room_rental               150634 non-null  int64
 39  3room_rental               150634 non-null  int64
 40  other_room_rental          150634 non-null  int64
 41  postal                     150634 non-null  object
 42  Latitude                   150634 non-null  float64
 43  Longitude                  150634 non-null  float64
 44  planning_area              150634 non-null  object
 45  Mall_Nearest_Distance      149805 non-null  float64
 46  Mall_Within_500m           57845 non-null   float64
 47  Mall_Within_1km            125208 non-null  float64
 48  Mall_Within_2km            148694 non-null  float64
 49  Hawker_Nearest_Distance    150634 non-null  float64
 50  Hawker_Within_500m         53244 non-null   float64
 51  Hawker_Within_1km          89766 non-null   float64
 52  Hawker_Within_2km          121432 non-null  float64
 53  hawker_food_stalls         150634 non-null  int64
 54  hawker_market_stalls       150634 non-null  int64
 55  mrt_nearest_distance       150634 non-null  float64
 56  mrt_name                   150634 non-null  object
 57  bus_interchange            150634 non-null  int64
 58  mrt_interchange            150634 non-null  int64
 59  mrt_latitude               150634 non-null  float64
 60  mrt_longitude              150634 non-null  float64
 61  bus_stop_nearest_distance  150634 non-null  float64
 62  bus_stop_name              150634 non-null  object
 63  bus_stop_latitude          150634 non-null  float64
 64  bus_stop_longitude         150634 non-null  float64
 65  pri_sch_nearest_distance   150634 non-null  float64
 66  pri_sch_name               150634 non-null  object
 67  vacancy                    150634 non-null  int64
 68  pri_sch_affiliation        150634 non-null  int64
 69  pri_sch_latitude           150634 non-null  float64
 70  pri_sch_longitude          150634 non-null  float64
 71  sec_sch_nearest_dist       150634 non-null  float64
 72  sec_sch_name               150634 non-null  object
 73  cutoff_point               150634 non-null  int64
 74  affiliation                150634 non-null  int64
 75  sec_sch_latitude           150634 non-null  float64
 76  sec_sch_longitude          150634 non-null  float64
dtypes: float64(25), int64(32), object(20)
memory usage: 88.5+ MB

In [7]:
#rename all columns using lower caps
housing_df.columns=housing_df.columns.str.strip().str.lower()

In [8]:
# rename to sec sch afiliation

housing_df.rename(columns={'affiliation':'sec_sch_affiliation'},inplace=True)

In [9]:
# check for nulls in each column
housing_df[housing_df.columns[housing_df.isnull().any()]].isnull().sum()

mall_nearest_distance      829
mall_within_500m         92789
mall_within_1km          25426
mall_within_2km           1940
hawker_within_500m       97390
hawker_within_1km        60868
hawker_within_2km        29202
dtype: int64

Out of all 76 columns in dataset, we have 7 columns containing nulls as shown above.

### Accounting for null values in hawker quantity columns

As there are no missing values for hawker nearest distance, a possibility might be that the hawker nearest distance in specific rows has exceeded 500m/1km/2km, hence resulting in hawker null values. This can be easily validated by finding the minimum distance for specific rows containing nulls, as shown below.

In [10]:
#check if there is any discrepancy in minimum distance larger than 500m/1km/2km for rows with missing hawker quantity

print(f"Minimium distance greater than 500m: \
{round(housing_df[housing_df['hawker_within_500m'].isnull()]['hawker_nearest_distance'].min(),3)}m")

print(f"Minimium distance greater than 1km: \
{round(housing_df[housing_df['hawker_within_1km'].isnull()]['hawker_nearest_distance'].min(),3)}m")

print(f"Minimium distance greater than 2km: \
{round(housing_df[housing_df['hawker_within_2km'].isnull()]['hawker_nearest_distance'].min(),3)}m")

Minimium distance greater than 500m: 500.209m
Minimium distance greater than 1km: 1000.074m
Minimium distance greater than 2km: 2000.872m

For the rows with missing hawker value, we see that the available minimum distance greater than 500m, 1km and 2km is 500.209m, 1000.074m and 2000.872m respectively. This implies that the nulls in each of these 3 columns can be set to 0, since the minimum distance present is larger than the specified distance.

In [11]:
# replace all missing hawker value to 0
housing_df.loc[housing_df['hawker_within_500m'].isnull(),'hawker_within_500m']=0
housing_df.loc[housing_df['hawker_within_1km'].isnull(),'hawker_within_1km']=0
housing_df.loc[housing_df['hawker_within_2km'].isnull(),'hawker_within_2km']=0

### Accounting for null values in mall quantity columns

As we have 829 rows with missing mall nearest distance, firstly we need to address the nulls in this column before filling in the missing mall quantity values. The procedure to find the nearest mall distance in these rows is shown below.

1. Retrieve all malls in Singapore, this can be done by webscraping from Wikipedia.
2. Use OneMap API to locate the latitude/longitude of the malls.
3. For each housing unit, calculate distance between itself and each mall using Haversine formula. Locate the minimum mall distance and replace the null value.

An important point to note is that the rows with missing mall distance are identified through their row index in the dataset.

In [12]:
# Retrieve all malls in Singapore from Wikipedia
url='https://en.wikipedia.org/wiki/List_of_shopping_malls_in_Singapore'
response = requests.get(url)
print('Status Code: ',response.status_code)
html = response.content
soup = bs(html, 'lxml')
soup

malls = soup.find_all("div",{'class':'div-col'})
list_of_malls=[]
for i in range(len(malls)):
    list_of_malls+=[x.text for x in malls[i].find_all("li")]
list_of_malls=[x[:x.find("[")] if x.find("[")!=-1 else x for x in list_of_malls]
list_of_malls

Status Code:  200

['100 AM',
 '313@Somerset',
 'Aperia',
 'Balestier Hill Shopping Centre',
 'Bugis Cube',
 'Bugis Junction',
 'Bugis+',
 'Capitol Piazza',
 'Cathay Cineleisure Orchard',
 'Clarke Quay Central',
 'The Centrepoint',
 'City Square Mall',
 'City Gate Mall',
 'CityLink Mall',
 'Duo',
 'Far East Plaza',
 'Funan',
 'Great World City',
 'HDB Hub',
 'Holland Village Shopping Mall',
 'ION Orchard',
 'Junction 8',
 'Knightsbridge',
 'Liat Towers',
 'Lucky Plaza',
 'Marina Bay Sands',
 'The Shoppes at Marina Bay Sands',
 'Marina Bay Link Mall',
 'Marina Square',
 'Millenia Walk',
 'Mustafa Shopping Centre',
 'Ngee Ann City',
 'Orchard Central',
 'Orchard Gateway',
 'Orchard Plaza',
 'Midpoint Orchard',
 'Palais Renaissance',
 "People's Park Centre",
 "People's Park Complex",
 'Plaza Singapura',
 'PoMo',
 'Raffles City',
 'Scotts Square',
 'Shaw House and Centre',
 'Sim Lim Square',
 'Singapore Shopping Centre',
 'The South Beach',
 'Square 2',
 'Sunshine Plaza',
 'Suntec City',
 'Tanglin Mall',
 'Tanjong Pagar Centre',
 'Tekka Centre',
 'The Adelphi',
 'The Paragon',
 'Tiong Bahru Plaza',
 'The Poiz',
 'Thomson Plaza',
 'United Square',
 'Thomson V',
 'Velocity@Novena Square',
 'Wheelock Place',
 'Wisma Atria',
 'Zhongshan Mall',
 'Bedok Mall',
 'Century Square',
 'Our Tampines Hub',
 'Changi City Point',
 'Downtown East',
 'Djitsun Mall Bedok',
 'Eastpoint Mall',
 'Jewel Changi Airport',
 'KINEX (formerly OneKM)',
 'Katong Shopping Centre',
 'Katong Square',
 'Kallang Wave Mall',
 'Leisure Park Kallang',
 'i12 Katong',
 'Parkway Parade',
 'Paya Lebar Square',
 'Paya Lebar Quarter (PLQ)',
 'Roxy Square',
 'Singpost Centre',
 'Tampines 1',
 'Tampines Mall',
 'White Sands',
 'City Plaza',
 'Elias Mall',
 'Loyang Point',
 '888 Plaza',
 'Admiralty Place',
 'AMK Hub',
 'Canberra Plaza',
 'Causeway Point',
 'Woodlands Civic Centre',
 'Broadway Plaza',
 'Djitsun Mall',
 'Jubilee Square',
 'Junction 8',
 'Junction Nine',
 'Marsiling Mall',
 'Northpoint City',
 'Sembawang Shopping Centre',
 'Sun Plaza',
 'Vista Point',
 'Wisteria Mall',
 'Woodlands Mart',
 'Woodlands North Plaza',
 'Waterway Point',
 'Compass One',
 'Hougang Mall',
 'Heartland Mall',
 'NEX',
 'Buangkok Square',
 'Greenwich V',
 'Hougang 1',
 'Hougang Green Shopping Mall',
 'Hougang Rivercourt',
 'myVillage At Serangoon Garden',
 'Northshore Plaza',
 'Oasis Terraces',
 'Punggol Plaza',
 'Rivervale Mall',
 'Rivervale Plaza',
 'The Seletar Mall',
 'Upper Serangoon Shopping Centre',
 'Beauty World Centre',
 'Beauty World Plaza',
 'Bukit Panjang Plaza',
 'Bukit Timah Plaza',
 'Fajar Shopping Centre',
 'Greenridge Shopping Centre',
 'Hillion Mall',
 'HillV2',
 'Junction 10',
 'Keat Hong Shopping Centre',
 'Limbang Shopping Centre',
 'Lot One',
 'Rail Mall',
 'Sunshine Place',
 'Teck Whye Shopping Centre',
 'West Mall',
 'Yew Tee Point',
 'Yew Tee Square',
 '321 Clementi',
 'The Clementi Mall',
 'IMM',
 'JCube',
 'Jem',
 'Westgate',
 'Jurong Point',
 'Pioneer Mall',
 'The Star Vista',
 'Alexandra Central',
 'Anchorpoint',
 'OD Mall',
 'Boon Lay Shopping Centre',
 'Grantral Mall',
 'Fairprice Hub',
 'Gek Poh Shopping Centre',
 'Rochester Mall',
 'Taman Jurong Shopping Centre',
 'West Coast Plaza',
 'Queensway Shopping Centre']

In [13]:
# Obtaining Mall Coordinates in Singapore from OneMAP API
list_of_malls
mall_name = []
mall_lat = []
mall_long = []

for i in range(0, len(list_of_malls)):
    query_address = list_of_malls[i]
    query_string = 'https://developers.onemap.sg/commonapi/search?searchVal='+str(query_address)+'&returnGeom=Y&getAddrDetails=Y'
    resp = requests.get(query_string)
    data_mall=json.loads(resp.content)
    
    if data_mall['found'] != 0:
        mall_name.append(query_address)
        mall_lat.append(float(data_mall["results"][0]["LATITUDE"]))
        mall_long.append(float(data_mall["results"][0]["LONGITUDE"]))

        print (str(query_address)+", Latitude: "+data_mall['results'][0]['LATITUDE'] +" Longitude: "+data_mall['results'][0]['LONGITUDE'])

    else:
        print (f"No result for {list_of_malls[i]}")

100 AM, Latitude: 1.27458821795426 Longitude: 103.84347073661
313@Somerset, Latitude: 1.30097808212211 Longitude: 103.838350465208
Aperia, Latitude: 1.31047040225956 Longitude: 103.864287497404
Balestier Hill Shopping Centre, Latitude: 1.32557113096136 Longitude: 103.842493835321
Bugis Cube, Latitude: 1.29819500487878 Longitude: 103.855655544739
Bugis Junction, Latitude: 1.2991371723215 Longitude: 103.855450325604
Bugis+, Latitude: 1.30095171530648 Longitude: 103.855172625542
Capitol Piazza, Latitude: 1.29306335877347 Longitude: 103.851293463737
Cathay Cineleisure Orchard, Latitude: 1.30153093362853 Longitude: 103.836421018025
No result for Clarke Quay Central
The Centrepoint, Latitude: 1.30145045537088 Longitude: 103.840034074858
City Square Mall, Latitude: 1.31135169933195 Longitude: 103.856724057693
No result for City Gate Mall
CityLink Mall, Latitude: 1.29260349413333 Longitude: 103.854316064564
Duo, Latitude: 1.29953434891664 Longitude: 103.85840168774
Far East Plaza, Latitude: 1.30730468891062 Longitude: 103.833818438639
Funan, Latitude: 1.29124400604241 Longitude: 103.849984790048
Great World City, Latitude: 1.2934759620704 Longitude: 103.831975865363
HDB Hub, Latitude: 1.3319945640368 Longitude: 103.849796100473
No result for Holland Village Shopping Mall
ION Orchard, Latitude: 1.30473094842364 Longitude: 103.831465536872
Junction 8, Latitude: 1.35068626255041 Longitude: 103.848949711733
Knightsbridge, Latitude: 1.3029831225958 Longitude: 103.836283923443
Liat Towers, Latitude: 1.30510759038418 Longitude: 103.830727915062
Lucky Plaza, Latitude: 1.3044637897474 Longitude: 103.834005158524
Marina Bay Sands, Latitude: 1.28345419690844 Longitude: 103.860809048956
The Shoppes at Marina Bay Sands, Latitude: 1.28423496027027 Longitude: 103.85898228297
Marina Bay Link Mall, Latitude: 1.28003113385646 Longitude: 103.854284863268
Marina Square, Latitude: 1.29145526802576 Longitude: 103.857007335679
Millenia Walk, Latitude: 1.29267926922552 Longitude: 103.860302888543
No result for Mustafa Shopping Centre
Ngee Ann City, Latitude: 1.3022727300848 Longitude: 103.834899517575
Orchard Central, Latitude: 1.30072350356704 Longitude: 103.839692368177
Orchard Gateway, Latitude: 1.30156308609768 Longitude: 103.838914998409
Orchard Plaza, Latitude: 1.30126533034758 Longitude: 103.841151770727
Midpoint Orchard, Latitude: 1.30178378195546 Longitude: 103.838660627347
Palais Renaissance, Latitude: 1.30665484543191 Longitude: 103.829588045188
People's Park Centre, Latitude: 1.28580583517057 Longitude: 103.844032214205
People's Park Complex, Latitude: 1.28404487854559 Longitude: 103.842590753293
Plaza Singapura, Latitude: 1.30083497231103 Longitude: 103.845072925117
No result for PoMo
Raffles City, Latitude: 1.29408304748297 Longitude: 103.853339531257
Scotts Square, Latitude: 1.30580609670053 Longitude: 103.833059609864
No result for Shaw House and Centre
Sim Lim Square, Latitude: 1.30302298414827 Longitude: 103.853038663425
Singapore Shopping Centre, Latitude: 1.28649701803051 Longitude: 103.844628721032
The South Beach, Latitude: 1.29498804392056 Longitude: 103.856276242094
Square 2, Latitude: 1.27830729633252 Longitude: 103.850795180871
Sunshine Plaza, Latitude: 1.30047107224304 Longitude: 103.850687337448
Suntec City, Latitude: 1.29350132535558 Longitude: 103.857307495824
Tanglin Mall, Latitude: 1.30485342102105 Longitude: 103.823883490852
Tanjong Pagar Centre, Latitude: 1.2755961982077 Longitude: 103.842393171342
Tekka Centre, Latitude: 1.30671098278725 Longitude: 103.85013440636
The Adelphi, Latitude: 1.29115683869179 Longitude: 103.851044280765
The Paragon, Latitude: 1.30394936355298 Longitude: 103.835844227627
Tiong Bahru Plaza, Latitude: 1.28633177192832 Longitude: 103.827550771424
The Poiz, Latitude: 1.33202729656296 Longitude: 103.868659488195
Thomson Plaza, Latitude: 1.35432524181867 Longitude: 103.830328102656
United Square, Latitude: 1.31724362960663 Longitude: 103.844003130499
Thomson V, Latitude: 1.35319495337208 Longitude: 103.835564729862
Velocity@Novena Square, Latitude: 1.31978949204523 Longitude: 103.844033569199
Wheelock Place, Latitude: 1.3045363597328 Longitude: 103.830714231109
Wisma Atria, Latitude: 1.30370452023703 Longitude: 103.833200970183
Zhongshan Mall, Latitude: 1.32694504484324 Longitude: 103.846554377679
Bedok Mall, Latitude: 1.32475054237912 Longitude: 103.92918919889
Century Square, Latitude: 1.35227804040128 Longitude: 103.943727694121
Our Tampines Hub, Latitude: 1.35349593581988 Longitude: 103.940139392679
Changi City Point, Latitude: 1.33414983488993 Longitude: 103.962981783778
Downtown East, Latitude: 1.37912717878008 Longitude: 103.955444758145
Djitsun Mall Bedok, Latitude: 1.32605319910571 Longitude: 103.929604640137
Eastpoint Mall, Latitude: 1.34269199750599 Longitude: 103.953050756306
Jewel Changi Airport, Latitude: 1.36023106736765 Longitude: 103.989457201894
No result for KINEX (formerly OneKM)
Katong Shopping Centre, Latitude: 1.30382040183737 Longitude: 103.901040040407
Katong Square, Latitude: 1.30485337061959 Longitude: 103.904574221324
Kallang Wave Mall, Latitude: 1.30384327182319 Longitude: 103.872750701661
Leisure Park Kallang, Latitude: 1.30240462507128 Longitude: 103.876638148971
i12 Katong, Latitude: 1.30522306203042 Longitude: 103.905043928938
Parkway Parade, Latitude: 1.30108003311455 Longitude: 103.90528181445
Paya Lebar Square, Latitude: 1.31881486980278 Longitude: 103.892580778242
No result for Paya Lebar Quarter (PLQ)
Roxy Square, Latitude: 1.30433308408718 Longitude: 103.904060346056
Singpost Centre, Latitude: 1.3188718443127 Longitude: 103.894767139006
Tampines 1, Latitude: 1.34476753336302 Longitude: 103.938277054384
Tampines Mall, Latitude: 1.35259361362837 Longitude: 103.944785968039
White Sands, Latitude: 1.37234519149636 Longitude: 103.949805421214
City Plaza, Latitude: 1.31480522272254 Longitude: 103.893418325845
Elias Mall, Latitude: 1.37790533095468 Longitude: 103.94233582068
Loyang Point, Latitude: 1.36706634197242 Longitude: 103.964635610477
888 Plaza, Latitude: 1.43713052444868 Longitude: 103.795289911954
Admiralty Place, Latitude: 1.44042008562425 Longitude: 103.801541769047
AMK Hub, Latitude: 1.36922321403001 Longitude: 103.848467911464
Canberra Plaza, Latitude: 1.44324523168314 Longitude: 103.83052345616
Causeway Point, Latitude: 1.43600784474269 Longitude: 103.78568873405
Woodlands Civic Centre, Latitude: 1.43515024446739 Longitude: 103.786816106255
Broadway Plaza, Latitude: 1.37193646369426 Longitude: 103.845973776855
Djitsun Mall, Latitude: 1.32605319910571 Longitude: 103.929604640137
Jubilee Square, Latitude: 1.37178558575829 Longitude: 103.847837565378
Junction 8, Latitude: 1.35068626255041 Longitude: 103.848949711733
Junction Nine, Latitude: 1.43306021695327 Longitude: 103.841649364872
Marsiling Mall, Latitude: 1.43351253520759 Longitude: 103.779746860157
Northpoint City, Latitude: 1.42803585211784 Longitude: 103.836092100712
Sembawang Shopping Centre, Latitude: 1.44185307934021 Longitude: 103.824970378482
Sun Plaza, Latitude: 1.44820036592783 Longitude: 103.819530140823
Vista Point, Latitude: 1.4308011390122 Longitude: 103.794104795966
Wisteria Mall, Latitude: 1.41798969122298 Longitude: 103.841317292608
Woodlands Mart, Latitude: 1.44564787003157 Longitude: 103.798162285805
Woodlands North Plaza, Latitude: 1.44283592110679 Longitude: 103.790770766025
Waterway Point, Latitude: 1.40638209616982 Longitude: 103.902243744842
Compass One, Latitude: 1.39209415594052 Longitude: 103.894980025383
Hougang Mall, Latitude: 1.37248308734511 Longitude: 103.893788141349
Heartland Mall, Latitude: 1.35954450890401 Longitude: 103.885169070198
NEX, Latitude: 1.3506755212032 Longitude: 103.871861615443
Buangkok Square, Latitude: 1.38433426615655 Longitude: 103.881623070164
Greenwich V, Latitude: 1.38760330190633 Longitude: 103.869423629864
Hougang 1, Latitude: 1.35659543728082 Longitude: 103.889837028233
Hougang Green Shopping Mall, Latitude: 1.37931783499145 Longitude: 103.88784708944
Hougang Rivercourt, Latitude: 1.3630200986731 Longitude: 103.894665312237
myVillage At Serangoon Garden, Latitude: 1.36516071264446 Longitude: 103.865041851733
Northshore Plaza, Latitude: 1.416849810947 Longitude: 103.90213684712
Oasis Terraces, Latitude: 1.40263460056252 Longitude: 103.913270565628
Punggol Plaza, Latitude: 1.39417447299355 Longitude: 103.913120037036
Rivervale Mall, Latitude: 1.39221732695142 Longitude: 103.904473070943
Rivervale Plaza, Latitude: 1.38550420775531 Longitude: 103.901988424927
The Seletar Mall, Latitude: 1.39150192642807 Longitude: 103.87617162828
Upper Serangoon Shopping Centre, Latitude: 1.35348088326122 Longitude: 103.878828409594
Beauty World Centre, Latitude: 1.34241264188643 Longitude: 103.776539385678
Beauty World Plaza, Latitude: 1.34178799847019 Longitude: 103.776304121109
Bukit Panjang Plaza, Latitude: 1.38052239451717 Longitude: 103.764051414862
Bukit Timah Plaza, Latitude: 1.33865677622928 Longitude: 103.778560467143
Fajar Shopping Centre, Latitude: 1.38358020347573 Longitude: 103.770810440603
Greenridge Shopping Centre, Latitude: 1.38529556526689 Longitude: 103.766170530147
Hillion Mall, Latitude: 1.37848224932124 Longitude: 103.763672842754
HillV2, Latitude: 1.36355095770679 Longitude: 103.76423610633
Junction 10, Latitude: 1.38018163022688 Longitude: 103.76041930548
Keat Hong Shopping Centre, Latitude: 1.37743963497469 Longitude: 103.744383225412
Limbang Shopping Centre, Latitude: 1.39222033136152 Longitude: 103.743611063324
Lot One, Latitude: 1.38506992325619 Longitude: 103.745238868238
Rail Mall, Latitude: 1.35773806047539 Longitude: 103.768142119259
Sunshine Place, Latitude: 1.37789727709418 Longitude: 103.739015486021
Teck Whye Shopping Centre, Latitude: 1.3800477264564 Longitude: 103.752464583648
West Mall, Latitude: 1.35029683568301 Longitude: 103.749064191572
Yew Tee Point, Latitude: 1.39708432396576 Longitude: 103.746598000147
Yew Tee Square, Latitude: 1.39834776480802 Longitude: 103.747224809089
321 Clementi, Latitude: 1.31202491824439 Longitude: 103.764960537008
The Clementi Mall, Latitude: 1.31489619639366 Longitude: 103.764423054189
IMM, Latitude: 1.33489844010888 Longitude: 103.746734487309
JCube, Latitude: 1.33323785085838 Longitude: 103.740191321438
Jem, Latitude: 1.33320021829132 Longitude: 103.743170428258
Westgate, Latitude: 1.33428313049536 Longitude: 103.742870105512
Jurong Point, Latitude: 1.33945200436319 Longitude: 103.706685012654
Pioneer Mall, Latitude: 1.34167331883255 Longitude: 103.697244542805
The Star Vista, Latitude: 1.30681500712523 Longitude: 103.788462732266
Alexandra Central, Latitude: 1.28747707652854 Longitude: 103.805253381137
Anchorpoint, Latitude: 1.28893477974497 Longitude: 103.805607779399
No result for OD Mall
Boon Lay Shopping Centre, Latitude: 1.34637376380504 Longitude: 103.712472819666
Grantral Mall, Latitude: 1.31423131705905 Longitude: 103.765097562497
Fairprice Hub, Latitude: 1.32539180665075 Longitude: 103.678392265337
Gek Poh Shopping Centre, Latitude: 1.3487416466288 Longitude: 103.697739629738
Rochester Mall, Latitude: 1.30540765569962 Longitude: 103.788446680148
Taman Jurong Shopping Centre, Latitude: 1.33484487471259 Longitude: 103.720462024278
West Coast Plaza, Latitude: 1.30358622534992 Longitude: 103.76610375397
Queensway Shopping Centre, Latitude: 1.2876179255874 Longitude: 103.803391140455

We observe 9 malls that were unable to retrieve latitude and longitude values automatically, this missing latitude/longitude information will be added manually by looking up online or refining the search term in OneMAP API.

In [14]:
#add in latitude and longitude manually as search criteria not exactly matching between Wikipedia and OneMAP API
missing_malls={
    'Mall': ['Clarke Quay Central','City Gate Mall','Holland Village Shopping Mall','Mustafa Shopping Centre','PoMo','Shaw House and Centre','KINEX','Paya Lebar Quarter (PLQ)','OD Mall'],
    'Latitude': [1.2882413,1.30231590504573,1.31027747574118,1.31011213190394,1.300058,1.305512,1.31479,1.317369,1.3380],
    'Longitude': [103.846430401652,103.862331661034,103.795371163103,103.855290873926,103.849079,103.831755,103.89464,103.893266,103.7934]
}

mall_name += missing_malls['Mall']
mall_lat += missing_malls['Latitude']
mall_long += missing_malls['Longitude']

In [15]:
#calculate distance between 2 points using Haversine formula

from math import radians, cos, sin, asin, sqrt
def dist(lat1, lon1, lat2, lon2):
     
    # The math module contains a function named radians which converts from degrees to radians.
    lon1 = radians(lon1)
    lon2 = radians(lon2)
    lat1 = radians(lat1)
    lat2 = radians(lat2)
      
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
 
    c = 2 * asin(sqrt(a))
    
    # Radius of earth in kilometers. Use 3956 for miles
    r = 6371
      
    # calculate the result
    return(c *r*1000)

In [16]:
missing_lat=[x[42] for x in housing_df[housing_df['mall_nearest_distance'].isnull()].values]
missing_long=[x[43] for x in housing_df[housing_df['mall_nearest_distance'].isnull()].values]

In [17]:
row_index=housing_df[housing_df['mall_nearest_distance'].isnull()]['mall_nearest_distance'].index

In [18]:
#row index where mall nearest distance is null
print(list(row_index))

[75, 321, 478, 643, 691, 835, 990, 1092, 1160, 1292, 1575, 1593, 1766, 2222, 2517, 2524, 3094, 3165, 3333, 3399, 3472, 4258, 4357, 4436, 4492, 4680, 4912, 4970, 5364, 5375, 5723, 5737, 5898, 6019, 6152, 6771, 6800, 6860, 7263, 7346, 7381, 7531, 7637, 8110, 8148, 8434, 8528, 8616, 8915, 9151, 9156, 9691, 9899, 10108, 10404, 10461, 10465, 10574, 10768, 10820, 11221, 11259, 11280, 11290, 11307, 11516, 11776, 11787, 11853, 12297, 12410, 13038, 13042, 13077, 13306, 13332, 13390, 13470, 13616, 13967, 14203, 14298, 14422, 14471, 14659, 15315, 15471, 15612, 15785, 16297, 16447, 16503, 16668, 16788, 16806, 17282, 17705, 17863, 17987, 18034, 18164, 18172, 18272, 18614, 18696, 18848, 19078, 19292, 19310, 19458, 19469, 19628, 19658, 19828, 19852, 20115, 20234, 20256, 20516, 21421, 21472, 22427, 22704, 22705, 22837, 22963, 23364, 23518, 23592, 23902, 23976, 24023, 24054, 24056, 24545, 25651, 25755, 25853, 25928, 26237, 26716, 26944, 27322, 27505, 27513, 27619, 28074, 28213, 28273, 28319, 28472, 28563, 28618, 28817, 28902, 29074, 29419, 29940, 30073, 30331, 30429, 30667, 30723, 30859, 30888, 31439, 31535, 31726, 31734, 31739, 31909, 32004, 32021, 32055, 32515, 32588, 32915, 33014, 33255, 33273, 33361, 33373, 33509, 33697, 34070, 34347, 34482, 35008, 35379, 35389, 35515, 35666, 35938, 35952, 36099, 36173, 36308, 36398, 36585, 36639, 36819, 36900, 37318, 37384, 37494, 38914, 39347, 39461, 40264, 40373, 40394, 40849, 40891, 40981, 40997, 41062, 41213, 41657, 41663, 41771, 41792, 41841, 42599, 42719, 42754, 42988, 43297, 43780, 43942, 44040, 44051, 44233, 44274, 44644, 44782, 44790, 45064, 45659, 46168, 46238, 46330, 46346, 46895, 46932, 47031, 47130, 47220, 47260, 47430, 47457, 47487, 47816, 47870, 47915, 48149, 48760, 48767, 48938, 49045, 49096, 49194, 49286, 49355, 49575, 49715, 49787, 49979, 50054, 50149, 50266, 50467, 50476, 50562, 50579, 50595, 50800, 51099, 51296, 51310, 51715, 51733, 51781, 51849, 51888, 52237, 52253, 52349, 52489, 52656, 52924, 53225, 53420, 53447, 53528, 53639, 54079, 54170, 54423, 54934, 54991, 55096, 55395, 55510, 55874, 56002, 56044, 56217, 57273, 57354, 57821, 57825, 58005, 58100, 58102, 58422, 58760, 58992, 59228, 59284, 59473, 59789, 59826, 59848, 59891, 59984, 60388, 60505, 60648, 60671, 60819, 60944, 60952, 60957, 61008, 61121, 61199, 61204, 61273, 61330, 61333, 62021, 62055, 62271, 62301, 62562, 62775, 62832, 63196, 63266, 63318, 63330, 64143, 64512, 64516, 64548, 64704, 65106, 65118, 65428, 65771, 66066, 66163, 66177, 66228, 66274, 66398, 66456, 66782, 66853, 66862, 66943, 67257, 67413, 67465, 67679, 67705, 67928, 67980, 68055, 68176, 68595, 68720, 68760, 68994, 69122, 69217, 69605, 69733, 69930, 70367, 70429, 70445, 70462, 70506, 70523, 70550, 70554, 71061, 71399, 71595, 71649, 71703, 71907, 71919, 72359, 72785, 72792, 72863, 72970, 72975, 73188, 73580, 73600, 73656, 73714, 73721, 73730, 73771, 73918, 73953, 74195, 74225, 74525, 74555, 74609, 74669, 74680, 74923, 75385, 75397, 75437, 75474, 75629, 75653, 75697, 75873, 76134, 76199, 76524, 76557, 76562, 76886, 76995, 77203, 77598, 77719, 77733, 77741, 78479, 78629, 78683, 78868, 78901, 79169, 79190, 79373, 79566, 79750, 80033, 80120, 80942, 81081, 81581, 81728, 82017, 82086, 82243, 82246, 82468, 82469, 82632, 82653, 82834, 82989, 83148, 83484, 83539, 84151, 84228, 84366, 84821, 85014, 85129, 85230, 85322, 85356, 85741, 86139, 86395, 86420, 86492, 86514, 86653, 86789, 87220, 87425, 87501, 87534, 87634, 87872, 87873, 88052, 88092, 88322, 88507, 88672, 88907, 89581, 89626, 89696, 89752, 89955, 89973, 90091, 90129, 90168, 90569, 90613, 91057, 91266, 91446, 91494, 91575, 92104, 92269, 92371, 92504, 92567, 92643, 92722, 92831, 92845, 92971, 92990, 93076, 93084, 93102, 93366, 93682, 93853, 93907, 94536, 94934, 94984, 95009, 95345, 95358, 95416, 95532, 95703, 95770, 95959, 96331, 96366, 96641, 96852, 97162, 97527, 97656, 97946, 98067, 98104, 98151, 98215, 98428, 98465, 99354, 99771, 99820, 99936, 100000, 100035, 100059, 100143, 100301, 100331, 100340, 100348, 100405, 100436, 100870, 101072, 101095, 101635, 101747, 101874, 101927, 101929, 101970, 102002, 102060, 102103, 102224, 102335, 102594, 102597, 102788, 102850, 103301, 104209, 104258, 104330, 104634, 104745, 104799, 104886, 104910, 105011, 105147, 105269, 105275, 105295, 105305, 105386, 105522, 105597, 106011, 106253, 106462, 106554, 106658, 107482, 107483, 107561, 107652, 107680, 107688, 108242, 108306, 108423, 108597, 109208, 109243, 109397, 109410, 110011, 110046, 110145, 110166, 110467, 110491, 110499, 110629, 111048, 111173, 111361, 111478, 111581, 111783, 111801, 112092, 112385, 112386, 112531, 112560, 112573, 112775, 113269, 113381, 113532, 113667, 113846, 113895, 114075, 114134, 114173, 114428, 114577, 114580, 114618, 115295, 115519, 116200, 116257, 116636, 116694, 117248, 117281, 117409, 117429, 117612, 117704, 117766, 118587, 118979, 119073, 119532, 119805, 119854, 119927, 120374, 120493, 120583, 120703, 120880, 121119, 121170, 121766, 121773, 121848, 121892, 122427, 122975, 123044, 123091, 123284, 123460, 123733, 123848, 124034, 124165, 124171, 124319, 124405, 124504, 124625, 124643, 124692, 125093, 125550, 125558, 125792, 125800, 126100, 126119, 126341, 126572, 126793, 126939, 127160, 127391, 127515, 127599, 127825, 128381, 128606, 128720, 128788, 129072, 129948, 130280, 130373, 131102, 131516, 132236, 132282, 132412, 132560, 132738, 132786, 132809, 132819, 133169, 133328, 133537, 133573, 133684, 133772, 134306, 134355, 134673, 135105, 135346, 135470, 135686, 135980, 136177, 136189, 136232, 136440, 136563, 137620, 137626, 137972, 138402, 138417, 138449, 138584, 138672, 139166, 139196, 139205, 139896, 139943, 140442, 141002, 141014, 141472, 141734, 142147, 142330, 142378, 142382, 142722, 142885, 142898, 143045, 143316, 143319, 144237, 144628, 144722, 144809, 145299, 145527, 145603, 145643, 145729, 145857, 145928, 145945, 145959, 146670, 147416, 147813, 147889, 148371, 148471, 148710, 148925, 149236, 149675, 149736, 149909, 150296, 150388, 150394, 150479, 150625]

In [19]:
def mall_nearest_dist(latitude,longitude):
    distance=[]
    for i in range(len(latitude)):
        x=[]
        for j in range(len(mall_name)):
            x.append(dist(latitude[i],longitude[i],mall_lat[j],mall_long[j]))
        distance.append(pd.DataFrame(x).min().values[0])
    return distance

distance=pd.DataFrame(mall_nearest_dist(missing_lat,missing_long)).rename(columns={0:'mall_nearest_distance'})
distance.rename(index={x:row_index[x] for x in range(len(distance))},inplace=True)

def mall_dist(x):
    if pd.isna(housing_df['mall_nearest_distance'][x]):
        return distance['mall_nearest_distance'][x]
    else:
        pass

In [20]:
distance

        mall_nearest_distance
75                 713.252783
321                364.332266
478               1249.235253
643                452.221992
691                125.537430
...                       ...
150296             615.808682
150388             422.996655
150394             607.721286
150479             516.718308
150625             422.781412

[829 rows x 1 columns]

In [21]:
# if null detected in mall nearest distance, it will be replaced by a value from the distance dataframe (with matching index, 
# since the row index with nulls has already been established)
for i in range(len(housing_df)):
    if i in row_index.values:
        housing_df.loc[i,'mall_nearest_distance']=mall_dist(i)

In [22]:
housing_df.loc[row_index,['mall_nearest_distance','mall_within_500m','mall_within_1km','mall_within_2km']].isnull().sum()

mall_nearest_distance      0
mall_within_500m         829
mall_within_1km          829
mall_within_2km          829
dtype: int64

These 829 rows already have a nearest mall distance, as expected they do not have a mall quantity within 500m/1km/2km. We proceed to calculate the 3 values for each row.

In [23]:
def mall_500m(latitude,longitude):
    n_malls_500m=[]
    for i in range(len(latitude)):
        x=[]
        for j in range(len(mall_name)):
            x.append(dist(latitude[i],longitude[i],mall_lat[j],mall_long[j]))
        x=pd.DataFrame(x).rename(columns={0:'dist'})
        n_malls_500m.append(x[x['dist']<=500].count().values[0])
    return n_malls_500m

n_malls_500m=pd.DataFrame(mall_500m(missing_lat,missing_long)).rename(columns={0:'mall_within_500m'})
n_malls_500m.rename(index={x:row_index[x] for x in range(len(distance))},inplace=True)

In [24]:
n_malls_500m

        mall_within_500m
75                     0
321                    1
478                    0
643                    1
691                    3
...                  ...
150296                 0
150388                 1
150394                 0
150479                 0
150625                 1

[829 rows x 1 columns]

In [25]:
# calculate the number of malls within 500m if the row index previously had a null value for mall_nearest_distance
for i in range(len(housing_df)):
    if i in row_index.values:
        housing_df.loc[i,'mall_within_500m']=n_malls_500m['mall_within_500m'][i]

In [26]:
def mall_1km(latitude,longitude):
    n_malls_1km=[]
    for i in range(len(latitude)):
        x=[]
        for j in range(len(mall_name)):
            x.append(dist(latitude[i],longitude[i],mall_lat[j],mall_long[j]))
        x=pd.DataFrame(x).rename(columns={0:'dist'})
        n_malls_1km.append(x[x['dist']<=1000].count().values[0])
    return n_malls_1km

n_malls_1km=pd.DataFrame(mall_1km(missing_lat,missing_long)).rename(columns={0:'mall_within_1km'})
n_malls_1km.rename(index={x:row_index[x] for x in range(len(distance))},inplace=True)

In [27]:
n_malls_1km

        mall_within_1km
75                    1
321                   3
478                   0
643                   2
691                   3
...                 ...
150296                1
150388                2
150394                2
150479                2
150625                2

[829 rows x 1 columns]

In [28]:
for i in range(len(housing_df)):
    if i in row_index.values:
        housing_df.loc[i,'mall_within_1km']=n_malls_1km['mall_within_1km'][i]

In [ ]:
def mall_2km(latitude,longitude):
    n_malls_2km=[]
    for i in range(len(latitude)):
        x=[]
        for j in range(len(mall_name)):
            #x.append(dist(missing.values[0][2],missing.values[0][3],mall_lat[i],mall_long[i]))
            x.append(dist(latitude[i],longitude[i],mall_lat[j],mall_long[j]))
        x=pd.DataFrame(x).rename(columns={0:'dist'})
        n_malls_2km.append(x[x['dist']<=2000].count().values[0])
    return n_malls_2km

n_malls_2km=pd.DataFrame(mall_2km(missing_lat,missing_long)).rename(columns={0:'mall_within_2km'})
n_malls_2km.rename(index={x:row_index[x] for x in range(len(distance))},inplace=True)

In [ ]:
n_malls_2km

In [ ]:
for i in range(len(housing_df)):
    if i in row_index.values:
        housing_df.loc[i,'mall_within_2km']=n_malls_2km['mall_within_2km'][i]

In [ ]:
housing_df.loc[:,['mall_nearest_distance','mall_within_500m','mall_within_1km','mall_within_2km']].isnull().sum()

As there are no missing values for mall nearest distance, it is highly likely that the mall nearest distance in specific rows has exceeded 500m/1km/2km, hence resulting in mall null values. This can be easily validated by finding the minimum distance for specific rows containing nulls, as shown below.

In [ ]:
#check if there is any discrepancy in minimum mall distance larger than 500m/1km/2km for rows with missing mall count
print(f"Minimium mall distance greater than 500m: \
{round(housing_df[housing_df['mall_within_500m'].isnull()]['mall_nearest_distance'].min(),3)}m")

print(f"Minimium mall distance greater than 1km: \
{round(housing_df[housing_df['mall_within_1km'].isnull()]['mall_nearest_distance'].min(),3)}m")

print(f"Minimium mall distance greater than 2km: \
{round(housing_df[housing_df['mall_within_2km'].isnull()]['mall_nearest_distance'].min(),3)}m")

For the rows with missing mall value, we see that the available minimum distance greater than 500m, 1km and 2km is 500.056m, 1000.023m and 2000.176m respectively. This implies that the nulls in each of these 3 columns can be set to 0, since the minimum distance present is larger than the specified distance.

In [ ]:
housing_df.loc[housing_df['mall_within_500m'].isnull(),'mall_within_500m']=0
housing_df.loc[housing_df['mall_within_1km'].isnull(),'mall_within_1km']=0
housing_df.loc[housing_df['mall_within_2km'].isnull(),'mall_within_2km']=0

Lastly, we convert the values in specific columns to appropriate data types. This is done at the very end as there were nulls in some of the columns and datatype conversion was not possible.

In [ ]:
#change specific columns in dataset to appropriate data types
housing_df['id']=housing_df['id'].map(lambda x: str(x))
housing_df['mall_within_500m']=housing_df['mall_within_500m'].map(lambda x: int(x))
housing_df['mall_within_1km']=housing_df['mall_within_1km'].map(lambda x: int(x))
housing_df['mall_within_2km']=housing_df['mall_within_2km'].map(lambda x: int(x))
housing_df['hawker_within_500m']=housing_df['hawker_within_500m'].map(lambda x: int(x))
housing_df['hawker_within_1km']=housing_df['hawker_within_1km'].map(lambda x: int(x))
housing_df['hawker_within_2km']=housing_df['hawker_within_2km'].map(lambda x: int(x))

In [ ]:
# to verify if there are any missing values in each column
housing_df.isnull().sum().sum()

In [ ]:
# to check if there are any identical rows
housing_df.duplicated().sum()

We have verified that the housing dataset does not contain any nulls and no duplicated rows are seen as well.

In [ ]:
#save and export data for further analysis
housing_df.to_csv("../datasets/cleaned_housing_data.csv",index=False)