# Kaggle Submission

In [1]:
# import libraries
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup as bs
import json
%matplotlib inline

In [2]:
coeff=pd.read_csv("../datasets/model_coefficients.csv")

In [3]:
coeff

,Feature,Coefficient Value,Category
0,hdb_age,-3437.181384,hdb_age
1,mid,3358.043011,storey
2,max_floor_lvl,2798.384944,storey
3,floor_area_sqft,308.446031,floor_area_sqft
4,pri_sch_nearest_distance,10.590783,sch
...,...,...,...
79,full_flat_type_EXECUTIVE Apartment,99554.687502,full_flat_type
80,full_flat_type_EXECUTIVE Maisonette,130652.626938,full_flat_type
81,full_flat_type_EXECUTIVE Premium Apartment,74852.800236,full_flat_type
82,full_flat_type_EXECUTIVE Premium Maisonette,162809.690490,full_flat_type
83,full_flat_type_MULTI-GENERATION Multi Generation,191499.303210,full_flat_type

In [5]:
kaggle_test=pd.read_csv("../datasets/test.csv")
kaggle_test

C:\Users\songk\AppData\Local\Temp\ipykernel_26100\1072759571.py:1: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  kaggle_test=pd.read_csv("../datasets/test.csv")

,id,Tranc_YearMonth,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,...,vacancy,pri_sch_affiliation,pri_sch_latitude,pri_sch_longitude,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,sec_sch_latitude,sec_sch_longitude
0,114982,2012-11,YISHUN,4 ROOM,173,YISHUN AVE 7,07 TO 09,84.0,Simplified,1987,...,92,0,1.433681,103.832924,156.322353,Ahmad Ibrahim Secondary School,218,0,1.436235,103.829987
1,95653,2019-08,JURONG WEST,5 ROOM,986C,JURONG WEST ST 93,04 TO 06,112.0,Premium Apartment,2008,...,45,0,1.339244,103.698896,739.371688,Jurong West Secondary School,199,0,1.335256,103.702098
2,40303,2013-10,ANG MO KIO,3 ROOM,534,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,...,36,0,1.371893,103.851811,305.071191,Anderson Secondary School,245,0,1.374242,103.851430
3,109506,2017-10,WOODLANDS,4 ROOM,29,MARSILING DR,01 TO 03,97.0,New Generation,1979,...,54,0,1.434423,103.773698,433.454591,Woodlands Secondary School,188,0,1.439183,103.774499
4,100149,2016-08,BUKIT BATOK,4 ROOM,170,BT BATOK WEST AVE 8,16 TO 18,103.0,Model A,1985,...,40,0,1.349195,103.741000,217.295361,Bukit Batok Secondary School,223,0,1.348351,103.740873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16732,23347,2016-06,ANG MO KIO,3 ROOM,610,ANG MO KIO AVE 4,04 TO 06,82.0,New Generation,1980,...,63,0,1.376399,103.843166,320.543569,Yio Chu Kang Secondary School,188,0,1.378263,103.841809
16733,54003,2017-08,PUNGGOL,4 ROOM,305A,PUNGGOL RD,16 TO 18,92.0,Premium Apartment,2012,...,60,0,1.405333,103.905387,423.996711,Punggol Secondary School,194,0,1.402126,103.909119
16734,128921,2018-03,CHOA CHU KANG,5 ROOM,686D,CHOA CHU KANG CRES,04 TO 06,110.0,Improved,2002,...,54,0,1.402823,103.746993,560.399339,Unity Secondary School,212,0,1.399642,103.746036
16735,69352,2020-11,BISHAN,4 ROOM,167,BISHAN ST 13,07 TO 09,84.0,Simplified,1988,...,45,1,1.349783,103.854529,324.050692,Kuo Chuan Presbyterian Secondary School,232,0,1.350110,103.854892
16736,146210,2012-06,JURONG WEST,4 ROOM,152,YUNG HO RD,07 TO 09,104.0,Model A,1990,...,63,0,1.338376,103.718051,508.615001,Jurong Secondary School,224,0,1.330147,103.724100

In [6]:
kaggle_test.columns=kaggle_test.columns.str.strip().str.lower()

In [7]:
kaggle_test[kaggle_test.columns[kaggle_test.isnull().any()]].isnull().sum()

mall_nearest_distance       84
mall_within_500m         10292
mall_within_1km           2786
mall_within_2km            213
hawker_within_500m       10755
hawker_within_1km         6729
hawker_within_2km         3254
dtype: int64

In [8]:
#check if there is any discrepancy in minimum distance larger than 500m/1km/2km for rows with missing hawker
print(f"Minimium distance greater than 500m: \
{round(kaggle_test[kaggle_test['hawker_within_500m'].isnull()]['hawker_nearest_distance'].min(),3)}m")

print(f"Minimium distance greater than 1km: \
{round(kaggle_test[kaggle_test['hawker_within_1km'].isnull()]['hawker_nearest_distance'].min(),3)}m")

print(f"Minimium distance greater than 2km: \
{round(kaggle_test[kaggle_test['hawker_within_2km'].isnull()]['hawker_nearest_distance'].min(),3)}m")

Minimium distance greater than 500m: 500.209m
Minimium distance greater than 1km: 1000.074m
Minimium distance greater than 2km: 2000.872m

We observe that there are no rows with missing hawker nearest distance. For the rows with missing hawker value, we see that the minimum distance greater than 500m, 1km and 2km are 500.209m, 1000.074m and 2000.872m respectively. This implies that the nulls in each of these 3 columns can be set as 0, since the minimum distance available is larger than the specified distance.

In [9]:
# replace all missing hawker value to 0
kaggle_test.loc[kaggle_test['hawker_within_500m'].isnull(),'hawker_within_500m']=0
kaggle_test.loc[kaggle_test['hawker_within_1km'].isnull(),'hawker_within_1km']=0
kaggle_test.loc[kaggle_test['hawker_within_2km'].isnull(),'hawker_within_2km']=0

In [10]:
#retrieve all malls in Singapore
url='https://en.wikipedia.org/wiki/List_of_shopping_malls_in_Singapore'
response = requests.get(url)
print('Status Code: ',response.status_code)
html = response.content
soup = bs(html, 'lxml')
soup

malls = soup.find_all("div",{'class':'div-col'})
list_of_malls=[]
for i in range(len(malls)):
    list_of_malls+=[x.text for x in malls[i].find_all("li")]
list_of_malls=[x[:x.find("[")] if x.find("[")!=-1 else x for x in list_of_malls]
list_of_malls

Status Code:  200

['100 AM',
 '313@Somerset',
 'Aperia',
 'Balestier Hill Shopping Centre',
 'Bugis Cube',
 'Bugis Junction',
 'Bugis+',
 'Capitol Piazza',
 'Cathay Cineleisure Orchard',
 'Clarke Quay Central',
 'The Centrepoint',
 'City Square Mall',
 'City Gate Mall',
 'CityLink Mall',
 'Duo',
 'Far East Plaza',
 'Funan',
 'Great World City',
 'HDB Hub',
 'Holland Village Shopping Mall',
 'ION Orchard',
 'Junction 8',
 'Knightsbridge',
 'Liat Towers',
 'Lucky Plaza',
 'Marina Bay Sands',
 'The Shoppes at Marina Bay Sands',
 'Marina Bay Link Mall',
 'Marina Square',
 'Millenia Walk',
 'Mustafa Shopping Centre',
 'Ngee Ann City',
 'Orchard Central',
 'Orchard Gateway',
 'Orchard Plaza',
 'Midpoint Orchard',
 'Palais Renaissance',
 "People's Park Centre",
 "People's Park Complex",
 'Plaza Singapura',
 'PoMo',
 'Raffles City',
 'Scotts Square',
 'Shaw House and Centre',
 'Sim Lim Square',
 'Singapore Shopping Centre',
 'The South Beach',
 'Square 2',
 'Sunshine Plaza',
 'Suntec City',
 'Tanglin Mall',
 'Tanjong Pagar Centre',
 'Tekka Centre',
 'The Adelphi',
 'The Paragon',
 'Tiong Bahru Plaza',
 'The Poiz',
 'Thomson Plaza',
 'United Square',
 'Thomson V',
 'Velocity@Novena Square',
 'Wheelock Place',
 'Wisma Atria',
 'Zhongshan Mall',
 'Bedok Mall',
 'Century Square',
 'Our Tampines Hub',
 'Changi City Point',
 'Downtown East',
 'Djitsun Mall Bedok',
 'Eastpoint Mall',
 'Jewel Changi Airport',
 'KINEX (formerly OneKM)',
 'Katong Shopping Centre',
 'Katong Square',
 'Kallang Wave Mall',
 'Leisure Park Kallang',
 'i12 Katong',
 'Parkway Parade',
 'Paya Lebar Square',
 'Paya Lebar Quarter (PLQ)',
 'Roxy Square',
 'Singpost Centre',
 'Tampines 1',
 'Tampines Mall',
 'White Sands',
 'City Plaza',
 'Elias Mall',
 'Loyang Point',
 '888 Plaza',
 'Admiralty Place',
 'AMK Hub',
 'Canberra Plaza',
 'Causeway Point',
 'Woodlands Civic Centre',
 'Broadway Plaza',
 'Djitsun Mall',
 'Jubilee Square',
 'Junction 8',
 'Junction Nine',
 'Marsiling Mall',
 'Northpoint City',
 'Sembawang Shopping Centre',
 'Sun Plaza',
 'Vista Point',
 'Wisteria Mall',
 'Woodlands Mart',
 'Woodlands North Plaza',
 'Waterway Point',
 'Compass One',
 'Hougang Mall',
 'Heartland Mall',
 'NEX',
 'Buangkok Square',
 'Greenwich V',
 'Hougang 1',
 'Hougang Green Shopping Mall',
 'Hougang Rivercourt',
 'myVillage At Serangoon Garden',
 'Northshore Plaza',
 'Oasis Terraces',
 'Punggol Plaza',
 'Rivervale Mall',
 'Rivervale Plaza',
 'The Seletar Mall',
 'Upper Serangoon Shopping Centre',
 'Beauty World Centre',
 'Beauty World Plaza',
 'Bukit Panjang Plaza',
 'Bukit Timah Plaza',
 'Fajar Shopping Centre',
 'Greenridge Shopping Centre',
 'Hillion Mall',
 'HillV2',
 'Junction 10',
 'Keat Hong Shopping Centre',
 'Limbang Shopping Centre',
 'Lot One',
 'Rail Mall',
 'Sunshine Place',
 'Teck Whye Shopping Centre',
 'West Mall',
 'Yew Tee Point',
 'Yew Tee Square',
 '321 Clementi',
 'The Clementi Mall',
 'IMM',
 'JCube',
 'Jem',
 'Westgate',
 'Jurong Point',
 'Pioneer Mall',
 'The Star Vista',
 'Alexandra Central',
 'Anchorpoint',
 'OD Mall',
 'Boon Lay Shopping Centre',
 'Grantral Mall',
 'Fairprice Hub',
 'Gek Poh Shopping Centre',
 'Rochester Mall',
 'Taman Jurong Shopping Centre',
 'West Coast Plaza',
 'Queensway Shopping Centre']

In [11]:
# Obtaining Mall Coordinates in Singapore
list_of_malls
mall_name = []
mall_lat = []
mall_long = []

for i in range(0, len(list_of_malls)):
    query_address = list_of_malls[i]
    query_string = 'https://developers.onemap.sg/commonapi/search?searchVal='+str(query_address)+'&returnGeom=Y&getAddrDetails=Y'
    resp = requests.get(query_string)
    data_mall=json.loads(resp.content)
    
    if data_mall['found'] != 0:
        mall_name.append(query_address)
        mall_lat.append(float(data_mall["results"][0]["LATITUDE"]))
        mall_long.append(float(data_mall["results"][0]["LONGITUDE"]))

        print (str(query_address)+" ,Lat: "+data_mall['results'][0]['LATITUDE'] +" Long: "+data_mall['results'][0]['LONGITUDE'])

    else:
        print (f"No Results for {list_of_malls[i]}")

100 AM ,Lat: 1.27468281482263 Long: 103.843488359469
313@Somerset ,Lat: 1.30100656917241 Long: 103.838246592796
Aperia ,Lat: 1.3097112065077 Long: 103.864326436447
Balestier Hill Shopping Centre ,Lat: 1.32559594839311 Long: 103.842571612968
Bugis Cube ,Lat: 1.2981408343975 Long: 103.855635339249
Bugis Junction ,Lat: 1.2991371723215 Long: 103.855450325604
Bugis+ ,Lat: 1.30095171530648 Long: 103.855172625542
Capitol Piazza ,Lat: 1.29307884763132 Long: 103.851261982149
Cathay Cineleisure Orchard ,Lat: 1.30152101873533 Long: 103.836429655016
No Results for Clarke Quay Central
The Centrepoint ,Lat: 1.30145045537088 Long: 103.840034074858
City Square Mall ,Lat: 1.3113827185663 Long: 103.856626855768
No Results for City Gate Mall
CityLink Mall ,Lat: 1.29260349413333 Long: 103.854316064564
Duo ,Lat: 1.29953434891664 Long: 103.85840168774
Far East Plaza ,Lat: 1.30722100162543 Long: 103.833805646681
Funan ,Lat: 1.29134759697794 Long: 103.849989790085
Great World City ,Lat: 1.29342272650003 Long: 103.832022146655
HDB Hub ,Lat: 1.33201387005935 Long: 103.84984949662
No Results for Holland Village Shopping Mall
ION Orchard ,Lat: 1.30419142102398 Long: 103.831510144742
Junction 8 ,Lat: 1.35017243257766 Long: 103.848430075605
Knightsbridge ,Lat: 1.3029831225958 Long: 103.836283923443
Liat Towers ,Lat: 1.30508722710852 Long: 103.830722581168
Lucky Plaza ,Lat: 1.30448579105197 Long: 103.833941935117
Marina Bay Sands ,Lat: 1.28466203613219 Long: 103.861005919301
The Shoppes at Marina Bay Sands ,Lat: 1.28423496027027 Long: 103.85898228297
Marina Bay Link Mall ,Lat: 1.28003113385646 Long: 103.854284863268
Marina Square ,Lat: 1.29185533273026 Long: 103.85857808906
Millenia Walk ,Lat: 1.29267926922552 Long: 103.860302888543
No Results for Mustafa Shopping Centre
Ngee Ann City ,Lat: 1.3022727300848 Long: 103.834899517575
Orchard Central ,Lat: 1.30083890839245 Long: 103.839434733899
Orchard Gateway ,Lat: 1.30160116957544 Long: 103.838868886519
Orchard Plaza ,Lat: 1.30126533062133 Long: 103.841151770455
Midpoint Orchard ,Lat: 1.30177313264942 Long: 103.838659652851
Palais Renaissance ,Lat: 1.30665484543191 Long: 103.829588045188
People's Park Centre ,Lat: 1.28580583517057 Long: 103.844032214205
People's Park Complex ,Lat: 1.28404487854559 Long: 103.842590753293
Plaza Singapura ,Lat: 1.30082071769235 Long: 103.845067272938
No Results for PoMo
Raffles City ,Lat: 1.29408304748297 Long: 103.853339531257
Scotts Square ,Lat: 1.30580609670053 Long: 103.833059609864
No Results for Shaw House and Centre
Sim Lim Square ,Lat: 1.30302298414827 Long: 103.853038663425
Singapore Shopping Centre ,Lat: 1.28649701803051 Long: 103.844628721032
The South Beach ,Lat: 1.29498804392056 Long: 103.856276242094
Square 2 ,Lat: 1.27822949964567 Long: 103.850812513482
Sunshine Plaza ,Lat: 1.30046735366415 Long: 103.850556061949
Suntec City ,Lat: 1.29350132535558 Long: 103.857307495824
Tanglin Mall ,Lat: 1.30485342102105 Long: 103.823883490852
Tanjong Pagar Centre ,Lat: 1.2755961982077 Long: 103.842393171342
Tekka Centre ,Lat: 1.30671098278725 Long: 103.85013440636
The Adelphi ,Lat: 1.29118503658447 Long: 103.851184338699
The Paragon ,Lat: 1.30387230879994 Long: 103.835857545469
Tiong Bahru Plaza ,Lat: 1.28644021678218 Long: 103.827450721571
The Poiz ,Lat: 1.33202729656296 Long: 103.868659488195
Thomson Plaza ,Lat: 1.35436282723449 Long: 103.83030941613
United Square ,Lat: 1.31724362960663 Long: 103.844003130499
Thomson V ,Lat: 1.35319495337208 Long: 103.835564729862
Velocity@Novena Square ,Lat: 1.31978949204523 Long: 103.844033569199
Wheelock Place ,Lat: 1.30467628730252 Long: 103.830642027577
Wisma Atria ,Lat: 1.30370452023703 Long: 103.833200970183
Zhongshan Mall ,Lat: 1.32694504484324 Long: 103.846554377679
Bedok Mall ,Lat: 1.32475054237912 Long: 103.92918919889
Century Square ,Lat: 1.35227804040128 Long: 103.943727694121
Our Tampines Hub ,Lat: 1.35313359828812 Long: 103.940408135311
Changi City Point ,Lat: 1.33403637902708 Long: 103.962917615531
Downtown East ,Lat: 1.37595122154029 Long: 103.955598940037
Djitsun Mall Bedok ,Lat: 1.32611970329469 Long: 103.929554495615
Eastpoint Mall ,Lat: 1.34270592355576 Long: 103.953024618234
Jewel Changi Airport ,Lat: 1.3603410066102 Long: 103.98907755021
No Results for KINEX (formerly OneKM)
Katong Shopping Centre ,Lat: 1.30379813229515 Long: 103.901161718308
Katong Square ,Lat: 1.30477683917233 Long: 103.904617722414
Kallang Wave Mall ,Lat: 1.30307515150401 Long: 103.873149707591
Leisure Park Kallang ,Lat: 1.30240462507128 Long: 103.876638148971
i12 Katong ,Lat: 1.30522306203042 Long: 103.905043928938
Parkway Parade ,Lat: 1.30091736056425 Long: 103.90533928065
Paya Lebar Square ,Lat: 1.31881486980278 Long: 103.892580778242
No Results for Paya Lebar Quarter (PLQ)
Roxy Square ,Lat: 1.30432599904899 Long: 103.904051120306
Singpost Centre ,Lat: 1.31899666903663 Long: 103.894894915962
Tampines 1 ,Lat: 1.37169334607241 Long: 103.932924563561
Tampines Mall ,Lat: 1.35259361362837 Long: 103.944785968039
White Sands ,Lat: 1.37234519149636 Long: 103.949805421214
City Plaza ,Lat: 1.31495729651441 Long: 103.893400329225
Elias Mall ,Lat: 1.37790533095468 Long: 103.94233582068
Loyang Point ,Lat: 1.36645364010349 Long: 103.964598499523
888 Plaza ,Lat: 1.43712301500434 Long: 103.795314383823
Admiralty Place ,Lat: 1.43992345062736 Long: 103.80201525015
AMK Hub ,Lat: 1.36938922690344 Long: 103.84847796594
Canberra Plaza ,Lat: 1.44349544527985 Long: 103.830345369213
Causeway Point ,Lat: 1.4360700650803 Long: 103.785981524253
Woodlands Civic Centre ,Lat: 1.43515024446739 Long: 103.786816106255
Broadway Plaza ,Lat: 1.37193729131781 Long: 103.845949444498
Djitsun Mall ,Lat: 1.32611970329469 Long: 103.929554495615
Jubilee Square ,Lat: 1.37178558575829 Long: 103.847837565378
Junction 8 ,Lat: 1.35017243257766 Long: 103.848430075605
Junction Nine ,Lat: 1.43306021695327 Long: 103.841649364872
Marsiling Mall ,Lat: 1.43354318137534 Long: 103.77988189197
Northpoint City ,Lat: 1.42790288991304 Long: 103.836177650973
Sembawang Shopping Centre ,Lat: 1.44182470675733 Long: 103.824845207237
Sun Plaza ,Lat: 1.44819436804175 Long: 103.819464386349
Vista Point ,Lat: 1.4308011390122 Long: 103.794104795966
Wisteria Mall ,Lat: 1.41798969122298 Long: 103.841317292608
Woodlands Mart ,Lat: 1.44564787003157 Long: 103.798162285805
Woodlands North Plaza ,Lat: 1.44285548185504 Long: 103.790965090129
Waterway Point ,Lat: 1.40637933605759 Long: 103.902172248289
Compass One ,Lat: 1.39205314156706 Long: 103.89507054384
Hougang Mall ,Lat: 1.37248308734511 Long: 103.893788141349
Heartland Mall ,Lat: 1.35954450890401 Long: 103.885169070198
NEX ,Lat: 1.35076935257845 Long: 103.872296143862
Buangkok Square ,Lat: 1.38433426615655 Long: 103.881623070164
Greenwich V ,Lat: 1.38739539397015 Long: 103.869135978173
Hougang 1 ,Lat: 1.35664284566921 Long: 103.889828868222
Hougang Green Shopping Mall ,Lat: 1.37931783499145 Long: 103.88784708944
Hougang Rivercourt ,Lat: 1.36274851459883 Long: 103.894906998774
myVillage At Serangoon Garden ,Lat: 1.36511490572797 Long: 103.865159501442
Northshore Plaza ,Lat: 1.41676127156324 Long: 103.902074379502
Oasis Terraces ,Lat: 1.40282352005409 Long: 103.91346139614
Punggol Plaza ,Lat: 1.39425629780831 Long: 103.913043510411
Rivervale Mall ,Lat: 1.39221732695142 Long: 103.904473070943
Rivervale Plaza ,Lat: 1.38548325969894 Long: 103.901870455683
The Seletar Mall ,Lat: 1.39147015374628 Long: 103.876125507257
Upper Serangoon Shopping Centre ,Lat: 1.35348082277147 Long: 103.878828134896
Beauty World Centre ,Lat: 1.34241264188642 Long: 103.776539385406
Beauty World Plaza ,Lat: 1.34180018619223 Long: 103.776259359854
Bukit Panjang Plaza ,Lat: 1.37992045176243 Long: 103.764357180314
Bukit Timah Plaza ,Lat: 1.33875930729064 Long: 103.778600077834
Fajar Shopping Centre ,Lat: 1.38358032362676 Long: 103.770768501474
Greenridge Shopping Centre ,Lat: 1.38540569310644 Long: 103.766228468185
Hillion Mall ,Lat: 1.37848224932124 Long: 103.763672842754
HillV2 ,Lat: 1.36267450828024 Long: 103.76417292006
Junction 10 ,Lat: 1.38055127973087 Long: 103.760106974822
Keat Hong Shopping Centre ,Lat: 1.37736607441394 Long: 103.744393648768
Limbang Shopping Centre ,Lat: 1.3920738867617 Long: 103.743099573442
Lot One ,Lat: 1.38497459672379 Long: 103.745011766388
Rail Mall ,Lat: 1.35773050150178 Long: 103.768137724847
Sunshine Place ,Lat: 1.37789727709418 Long: 103.739015486021
Teck Whye Shopping Centre ,Lat: 1.38004752975397 Long: 103.752483841199
West Mall ,Lat: 1.35037541626109 Long: 103.74912389291
Yew Tee Point ,Lat: 1.39705741516141 Long: 103.746662121143
Yew Tee Square ,Lat: 1.39804736098268 Long: 103.74708477866
321 Clementi ,Lat: 1.31200212030821 Long: 103.764986676365
The Clementi Mall ,Lat: 1.31489619639366 Long: 103.764423054189
IMM ,Lat: 1.33487526118006 Long: 103.746894773008
JCube ,Lat: 1.33332312550425 Long: 103.740187071348
Jem ,Lat: 1.33305999269581 Long: 103.743503708169
Westgate ,Lat: 1.33415767556867 Long: 103.742766484424
Jurong Point ,Lat: 1.33973886612177 Long: 103.706789553588
Pioneer Mall ,Lat: 1.34167331883255 Long: 103.697244542805
The Star Vista ,Lat: 1.30697044038323 Long: 103.788420274115
Alexandra Central ,Lat: 1.28728320930592 Long: 103.805283367958
Anchorpoint ,Lat: 1.28861469030586 Long: 103.805009964592
No Results for OD Mall
Boon Lay Shopping Centre ,Lat: 1.34637376407877 Long: 103.712472819666
Grantral Mall ,Lat: 1.31427043922294 Long: 103.765147487482
Fairprice Hub ,Lat: 1.32561767765205 Long: 103.678409741897
Gek Poh Shopping Centre ,Lat: 1.3487416466288 Long: 103.697739629738
Rochester Mall ,Lat: 1.30540765569962 Long: 103.788446680148
Taman Jurong Shopping Centre ,Lat: 1.33484487471259 Long: 103.720462024278
West Coast Plaza ,Lat: 1.30362457527941 Long: 103.765858386923
Queensway Shopping Centre ,Lat: 1.2876179255874 Long: 103.803391140455

We observe 9 malls that were unable to retrieve latitude and longitude values, this missing information will be added manually by looking up online as most of the information has been compiled from OneMap API.

In [12]:
#add in latitude and longitude manually as search criteria not exactly matching between Wikipedia and OneMAP API
missing_malls={
    'Mall': ['Clarke Quay Central','City Gate Mall','Holland Village Shopping Mall','Mustafa Shopping Centre','PoMo','Shaw House and Centre','KINEX','Paya Lebar Quarter (PLQ)','OD Mall'],
    'Latitude': [1.2882413,1.30231590504573,1.31027747574118,1.31011213190394,1.300058,1.305512,1.31479,1.317369,1.3380],
    'Longitude': [103.846430401652,103.862331661034,103.795371163103,103.855290873926,103.849079,103.831755,103.89464,103.893266,103.7934]
}

mall_name += missing_malls['Mall']
mall_lat += missing_malls['Latitude']
mall_long += missing_malls['Longitude']

In [13]:
#https://www.geeksforgeeks.org/program-distance-two-points-earth/

#calculate distance between 2 points using Haversine formula

from math import radians, cos, sin, asin, sqrt
def dist(lat1, lon1, lat2, lon2):
     
    # The math module contains a function named
    # radians which converts from degrees to radians.
    lon1 = radians(lon1)
    lon2 = radians(lon2)
    lat1 = radians(lat1)
    lat2 = radians(lat2)
      
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
 
    c = 2 * asin(sqrt(a))
    
    # Radius of earth in kilometers. Use 3956 for miles
    r = 6371
      
    # calculate the result
    return(c *r*1000)

In [14]:
missing_lat=[x[41] for x in kaggle_test[kaggle_test['mall_nearest_distance'].isnull()].values]
missing_long=[x[42] for x in kaggle_test[kaggle_test['mall_nearest_distance'].isnull()].values]

In [15]:
key=kaggle_test[kaggle_test['mall_nearest_distance'].isnull()]['mall_nearest_distance'].index

In [16]:
key

Int64Index([  441,   481,   579,   661,   782,  1127,  1278,  1632,  1705,
             1968,  2178,  2288,  2869,  2981,  3080,  3548,  3780,  4130,
             4199,  4413,  4558,  4999,  5141,  5333,  5643,  5689,  5901,
             6152,  6158,  6212,  6307,  6877,  7059,  7210,  7465,  7501,
             7817,  7909,  8005,  8310,  8416,  8591,  8915,  9188,  9198,
             9373,  9480,  9633,  9651, 10095, 10227, 10525, 11847, 11848,
            11856, 12005, 12290, 12299, 12461, 12512, 12816, 12892, 12908,
            12958, 12990, 13202, 13472, 13559, 13818, 13865, 13893, 13936,
            13975, 14154, 14328, 14645, 14803, 15180, 15202, 15276, 15745,
            16294, 16609, 16695],
           dtype='int64')

In [17]:
def mall_nearest_dist(latitude,longitude):
    distance=[]
    for i in range(len(latitude)):
        x=[]
        for j in range(len(mall_name)):
            x.append(dist(latitude[i],longitude[i],mall_lat[j],mall_long[j]))
        distance.append(pd.DataFrame(x).min().values[0])
    return distance

distance=pd.DataFrame(mall_nearest_dist(missing_lat,missing_long)).rename(columns={0:'mall_nearest_distance'})
distance.rename(index={x:key[x] for x in range(len(distance))},inplace=True)

def mall_dist(x):
    if pd.isna(kaggle_test['mall_nearest_distance'][x]):
        return distance['mall_nearest_distance'][x]
    else:
        pass

for i in range(len(kaggle_test)):
    if i in key.values:
        kaggle_test.loc[i,'mall_nearest_distance']=mall_dist(i)

In [18]:
def mall_500m(latitude,longitude):
    n_malls_500m=[]
    for i in range(len(latitude)):
        x=[]
        for j in range(len(mall_name)):
            #x.append(dist(missing.values[0][2],missing.values[0][3],mall_lat[i],mall_long[i]))
            x.append(dist(latitude[i],longitude[i],mall_lat[j],mall_long[j]))
        x=pd.DataFrame(x).rename(columns={0:'dist'})
        n_malls_500m.append(x[x['dist']<=500].count().values[0])
    return n_malls_500m

n_malls_500m=pd.DataFrame(mall_500m(missing_lat,missing_long)).rename(columns={0:'mall_within_500m'})
n_malls_500m.rename(index={x:key[x] for x in range(len(distance))},inplace=True)


for i in range(len(kaggle_test)):
    if i in key.values:
        kaggle_test.loc[i,'mall_within_500m']=n_malls_500m['mall_within_500m'][i]

In [19]:
def mall_1km(latitude,longitude):
    n_malls_1km=[]
    for i in range(len(latitude)):
        x=[]
        for j in range(len(mall_name)):
            #x.append(dist(missing.values[0][2],missing.values[0][3],mall_lat[i],mall_long[i]))
            x.append(dist(latitude[i],longitude[i],mall_lat[j],mall_long[j]))
        x=pd.DataFrame(x).rename(columns={0:'dist'})
        n_malls_1km.append(x[x['dist']<=1000].count().values[0])
    return n_malls_1km

n_malls_1km=pd.DataFrame(mall_1km(missing_lat,missing_long)).rename(columns={0:'mall_within_1km'})
n_malls_1km.rename(index={x:key[x] for x in range(len(distance))},inplace=True)


for i in range(len(kaggle_test)):
    if i in key.values:
        kaggle_test.loc[i,'mall_within_1km']=n_malls_1km['mall_within_1km'][i]

In [20]:
def mall_2km(latitude,longitude):
    n_malls_2km=[]
    for i in range(len(latitude)):
        x=[]
        for j in range(len(mall_name)):
            #x.append(dist(missing.values[0][2],missing.values[0][3],mall_lat[i],mall_long[i]))
            x.append(dist(latitude[i],longitude[i],mall_lat[j],mall_long[j]))
        x=pd.DataFrame(x).rename(columns={0:'dist'})
        n_malls_2km.append(x[x['dist']<=2000].count().values[0])
    return n_malls_2km

n_malls_2km=pd.DataFrame(mall_2km(missing_lat,missing_long)).rename(columns={0:'mall_within_2km'})
n_malls_2km.rename(index={x:key[x] for x in range(len(distance))},inplace=True)


for i in range(len(kaggle_test)):
    if i in key.values:
        kaggle_test.loc[i,'mall_within_2km']=n_malls_2km['mall_within_2km'][i]

In [21]:
#check if there is any discrepancy in minimum mall distance larger than 500m/1km/2km for rows with missing mall count
print(f"Minimium mall distance greater than 500m: \
{round(kaggle_test[kaggle_test['mall_within_500m'].isnull()]['mall_nearest_distance'].min(),3)}m")

print(f"Minimium mall distance greater than 1km: \
{round(kaggle_test[kaggle_test['mall_within_1km'].isnull()]['mall_nearest_distance'].min(),3)}m")

print(f"Minimium mall distance greater than 2km: \
{round(kaggle_test[kaggle_test['mall_within_2km'].isnull()]['mall_nearest_distance'].min(),3)}m")

Minimium mall distance greater than 500m: 500.075m
Minimium mall distance greater than 1km: 1000.023m
Minimium mall distance greater than 2km: 2000.176m

We observe that there are no rows with missing mall nearest distance. For the rows with missing mall value, we see that the minimum distance greater than 500m, 1km and 2km are 500.075m, 1000.023m and 2000.176m respectively. This implies that the nulls in each of these 3 columns can be set as 0, since the minimum distance available is larger than the specified distance.

In [22]:
kaggle_test.loc[kaggle_test['mall_within_500m'].isnull(),'mall_within_500m']=0
kaggle_test.loc[kaggle_test['mall_within_1km'].isnull(),'mall_within_1km']=0
kaggle_test.loc[kaggle_test['mall_within_2km'].isnull(),'mall_within_2km']=0

In [23]:
kaggle_test.isnull().sum().sum()

0

In [24]:
X = kaggle_test[['hdb_age','mid','max_floor_lvl','floor_area_sqft','pri_sch_nearest_distance','sec_sch_nearest_dist','hawker_nearest_distance','mrt_nearest_distance',
                'bus_interchange','mrt_interchange','mall_nearest_distance','planning_area','full_flat_type']]
X = pd.get_dummies(X, columns=['planning_area','full_flat_type'],drop_first=True)

In [25]:
# to filter out the extra columns in the train dataset, the train dataset has 3 additional columns not found in the test dataset

ex=list(set(coeff.Feature.values).difference(set(X.columns)))

coeff[~coeff['Feature'].isin(ex)]

,Feature,Coefficient Value,Category
0,hdb_age,-3437.181384,hdb_age
1,mid,3358.043011,storey
2,max_floor_lvl,2798.384944,storey
3,floor_area_sqft,308.446031,floor_area_sqft
4,pri_sch_nearest_distance,10.590783,sch
...,...,...,...
79,full_flat_type_EXECUTIVE Apartment,99554.687502,full_flat_type
80,full_flat_type_EXECUTIVE Maisonette,130652.626938,full_flat_type
81,full_flat_type_EXECUTIVE Premium Apartment,74852.800236,full_flat_type
82,full_flat_type_EXECUTIVE Premium Maisonette,162809.690490,full_flat_type
83,full_flat_type_MULTI-GENERATION Multi Generation,191499.303210,full_flat_type

In [26]:
# additional columns in the train dataset
ex

['full_flat_type_2 ROOM DBSS',
 'full_flat_type_2 ROOM 2-room',
 'full_flat_type_4 ROOM Terrace']

In [27]:
#linear regression model coefficient
lr_coeff=206971.449092748

In [28]:
predicted_price=np.matmul(X, coeff[~coeff['Feature'].isin(ex)][['Coefficient Value']])+lr_coeff

C:\Users\songk\AppData\Local\Temp\ipykernel_26100\1110527849.py:1: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  predicted_price=np.matmul(X, coeff[~coeff['Feature'].isin(ex)][['Coefficient Value']])+lr_coeff

In [29]:
kaggle_submission=pd.concat([kaggle_test['id'],predicted_price],axis=1).rename(columns={0:'Predicted'})

In [30]:
kaggle_submission['id']=kaggle_submission['id'].map(str)

In [31]:
kaggle_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16737 entries, 0 to 16736
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         16737 non-null  object
 1   Predicted  16737 non-null  float64
dtypes: float64(1), object(1)
memory usage: 261.6+ KB

In [32]:
kaggle_submission.describe()

          Predicted
count  1.673700e+04
mean   4.480686e+05
std    1.333949e+05
min    5.559364e+04
25%    3.551607e+05
50%    4.344332e+05
75%    5.182420e+05
max    1.308890e+06

In [33]:
kaggle_submission.isnull().sum().sum()

0

In [34]:
kaggle_submission.to_csv("../datasets/kaggle_submission.csv",index=False)